@import url(https://fonts.googleapis.com/css?family=Jost:100,200,300,400,500,600,700,800,900,100i,200i,300i,400i,500i,600i,700i,800i,900i&display=swap);
body {
    font-family: IBM Plex Sans;
}

.display-1 {
    font-family: 'Jost', sans-serif;
    font-size: 4.6rem;
    line-height: 1.1;
}

.display-1>.mbr-iconfont {
    font-size: 5.75rem;
}

.display-2 {
    font-family: 'Jost', sans-serif;
    font-size: 3rem;
    line-height: 1.1;
}

.display-2>.mbr-iconfont {
    font-size: 3.75rem;
}

.display-4 {
    font-family: 'Jost', sans-serif;
    font-size: 1.1rem;
    line-height: 1.5;
}

.display-4>.mbr-iconfont {
    font-size: 1.375rem;
}

.display-5 {
    font-family: 'Jost', sans-serif;
    font-size: 2rem;
    line-height: 1.5;
}

.display-5>.mbr-iconfont {
    font-size: 2.5rem;
}

.display-7 {
    font-family: 'Jost', sans-serif;
    font-size: 1.2rem;
    line-height: 1.5;
}

.display-7>.mbr-iconfont {
    font-size: 1.5rem;
}


/* ---- Fluid typography for mobile devices ---- */


/* 1.4 - font scale ratio ( bootstrap == 1.42857 ) */


/* 100vw - current viewport width */


/* (48 - 20)  48 == 48rem == 768px, 20 == 20rem == 320px(minimal supported viewport) */


/* 0.65 - min scale variable, may vary */

@media (max-width: 992px) {
    .display-1 {
        font-size: 3.68rem;
    }
}

@media (max-width: 768px) {
    .display-1 {
        font-size: 3.22rem;
        font-size: calc( 2.26rem + (4.6 - 2.26) * ((100vw - 20rem) / (48 - 20)));
        line-height: calc( 1.1 * (2.26rem + (4.6 - 2.26) * ((100vw - 20rem) / (48 - 20))));
    }
    .display-2 {
        font-size: 2.4rem;
        font-size: calc( 1.7rem + (3 - 1.7) * ((100vw - 20rem) / (48 - 20)));
        line-height: calc( 1.3 * (1.7rem + (3 - 1.7) * ((100vw - 20rem) / (48 - 20))));
    }
    .display-4 {
        font-size: 0.88rem;
        font-size: calc( 1.0350000000000001rem + (1.1 - 1.0350000000000001) * ((100vw - 20rem) / (48 - 20)));
        line-height: calc( 1.4 * (1.0350000000000001rem + (1.1 - 1.0350000000000001) * ((100vw - 20rem) / (48 - 20))));
    }
    .display-5 {
        font-size: 1.6rem;
        font-size: calc( 1.35rem + (2 - 1.35) * ((100vw - 20rem) / (48 - 20)));
        line-height: calc( 1.4 * (1.35rem + (2 - 1.35) * ((100vw - 20rem) / (48 - 20))));
    }
    .display-7 {
        font-size: 0.96rem;
        font-size: calc( 1.07rem + (1.2 - 1.07) * ((100vw - 20rem) / (48 - 20)));
        line-height: calc( 1.4 * (1.07rem + (1.2 - 1.07) * ((100vw - 20rem) / (48 - 20))));
    }
}


/* Buttons */

.btn {
    padding: 0.6rem 1.2rem;
    border-radius: 4px;
}

.btn-sm {
    padding: 0.6rem 1.2rem;
    border-radius: 4px;
}

.btn-md {
    padding: 0.6rem 1.2rem;
    border-radius: 4px;
}

.btn-lg {
    padding: 1rem 2.6rem;
    border-radius: 4px;
}

.bg-primary {
    background-color: #20d8da !important;
}

.bg-success {
    background-color: #20d8da !important;
}

.bg-info {
    background-color: #12056e !important;
}

.bg-warning {
    background-color: #202a25 !important;
}

.bg-danger {
    background-color: #ff9966 !important;
}

.btn-primary,
.btn-primary:active {
    background-color: #20d8da !important;
    border-color: #20d8da !important;
    color: #ffffff !important;
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.2);
}

.btn-primary:hover,
.btn-primary:focus,
.btn-primary.focus,
.btn-primary.active {
    color: #ffffff !important;
    background-color: #158d8e !important;
    border-color: #158d8e !important;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.2);
}

.btn-primary.disabled,
.btn-primary:disabled {
    color: #ffffff !important;
    background-color: #158d8e !important;
    border-color: #158d8e !important;
}

.btn-secondary,
.btn-secondary:active {
    background-color: #20d8da !important;
    border-color: #20d8da !important;
    color: #ffffff !important;
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.2);
}

.btn-secondary:hover,
.btn-secondary:focus,
.btn-secondary.focus,
.btn-secondary.active {
    color: #ffffff !important;
    background-color: #158d8e !important;
    border-color: #158d8e !important;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.2);
}

.btn-secondary.disabled,
.btn-secondary:disabled {
    color: #ffffff !important;
    background-color: #158d8e !important;
    border-color: #158d8e !important;
}

.btn-info,
.btn-info:active {
    background-color: #12056e !important;
    border-color: #12056e !important;
    color: #ffffff !important;
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.2);
}

.btn-info:hover,
.btn-info:focus,
.btn-info.focus,
.btn-info.active {
    color: #ffffff !important;
    background-color: #04011b !important;
    border-color: #04011b !important;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.2);
}

.btn-info.disabled,
.btn-info:disabled {
    color: #ffffff !important;
    background-color: #04011b !important;
    border-color: #04011b !important;
}

.btn-success,
.btn-success:active {
    background-color: #20d8da !important;
    border-color: #20d8da !important;
    color: #ffffff !important;
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.2);
}

.btn-success:hover,
.btn-success:focus,
.btn-success.focus,
.btn-success.active {
    color: #ffffff !important;
    background-color: #158d8e !important;
    border-color: #158d8e !important;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.2);
}

.btn-success.disabled,
.btn-success:disabled {
    color: #ffffff !important;
    background-color: #158d8e !important;
    border-color: #158d8e !important;
}

.btn-warning,
.btn-warning:active {
    background-color: #202a25 !important;
    border-color: #202a25 !important;
    color: #ffffff !important;
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.2);
}

.btn-warning:hover,
.btn-warning:focus,
.btn-warning.focus,
.btn-warning.active {
    color: #ffffff !important;
    background-color: #000000 !important;
    border-color: #000000 !important;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.2);
}

.btn-warning.disabled,
.btn-warning:disabled {
    color: #ffffff !important;
    background-color: #000000 !important;
    border-color: #000000 !important;
}

.btn-danger,
.btn-danger:active {
    background-color: #ff9966 !important;
    border-color: #ff9966 !important;
    color: #ffffff !important;
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.2);
}

.btn-danger:hover,
.btn-danger:focus,
.btn-danger.focus,
.btn-danger.active {
    color: #ffffff !important;
    background-color: #ff5f0f !important;
    border-color: #ff5f0f !important;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.2);
}

.btn-danger.disabled,
.btn-danger:disabled {
    color: #ffffff !important;
    background-color: #ff5f0f !important;
    border-color: #ff5f0f !important;
}

.btn-white,
.btn-white:active {
    background-color: #fafafa !important;
    border-color: #fafafa !important;
    color: #7a7a7a !important;
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.2);
}

.btn-white:hover,
.btn-white:focus,
.btn-white.focus,
.btn-white.active {
    color: #4f4f4f !important;
    background-color: #cfcfcf !important;
    border-color: #cfcfcf !important;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.2);
}

.btn-white.disabled,
.btn-white:disabled {
    color: #7a7a7a !important;
    background-color: #cfcfcf !important;
    border-color: #cfcfcf !important;
}

.btn-black,
.btn-black:active {
    background-color: #232323 !important;
    border-color: #232323 !important;
    color: #ffffff !important;
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.2);
}

.btn-black:hover,
.btn-black:focus,
.btn-black.focus,
.btn-black.active {
    color: #ffffff !important;
    background-color: #000000 !important;
    border-color: #000000 !important;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.2);
}

.btn-black.disabled,
.btn-black:disabled {
    color: #ffffff !important;
    background-color: #000000 !important;
    border-color: #000000 !important;
}

.btn-primary-outline,
.btn-primary-outline:active {
    background-color: transparent !important;
    border-color: transparent;
    color: #20d8da;
}

.btn-primary-outline:hover,
.btn-primary-outline:focus,
.btn-primary-outline.focus,
.btn-primary-outline.active {
    color: #158d8e !important;
    background-color: transparent!important;
    border-color: transparent!important;
    box-shadow: none!important;
}

.btn-primary-outline.disabled,
.btn-primary-outline:disabled {
    color: #ffffff !important;
    background-color: #20d8da !important;
    border-color: #20d8da !important;
}

.btn-secondary-outline,
.btn-secondary-outline:active {
    background-color: transparent !important;
    border-color: transparent;
    color: #20d8da;
}

.btn-secondary-outline:hover,
.btn-secondary-outline:focus,
.btn-secondary-outline.focus,
.btn-secondary-outline.active {
    color: #158d8e !important;
    background-color: transparent!important;
    border-color: transparent!important;
    box-shadow: none!important;
}

.btn-secondary-outline.disabled,
.btn-secondary-outline:disabled {
    color: #ffffff !important;
    background-color: #20d8da !important;
    border-color: #20d8da !important;
}

.btn-info-outline,
.btn-info-outline:active {
    background-color: transparent !important;
    border-color: transparent;
    color: #12056e;
}

.btn-info-outline:hover,
.btn-info-outline:focus,
.btn-info-outline.focus,
.btn-info-outline.active {
    color: #04011b !important;
    background-color: transparent!important;
    border-color: transparent!important;
    box-shadow: none!important;
}

.btn-info-outline.disabled,
.btn-info-outline:disabled {
    color: #ffffff !important;
    background-color: #12056e !important;
    border-color: #12056e !important;
}

.btn-success-outline,
.btn-success-outline:active {
    background-color: transparent !important;
    border-color: transparent;
    color: #20d8da;
}

.btn-success-outline:hover,
.btn-success-outline:focus,
.btn-success-outline.focus,
.btn-success-outline.active {
    color: #158d8e !important;
    background-color: transparent!important;
    border-color: transparent!important;
    box-shadow: none!important;
}

.btn-success-outline.disabled,
.btn-success-outline:disabled {
    color: #ffffff !important;
    background-color: #20d8da !important;
    border-color: #20d8da !important;
}

.btn-warning-outline,
.btn-warning-outline:active {
    background-color: transparent !important;
    border-color: transparent;
    color: #202a25;
}

.btn-warning-outline:hover,
.btn-warning-outline:focus,
.btn-warning-outline.focus,
.btn-warning-outline.active {
    color: #000000 !important;
    background-color: transparent!important;
    border-color: transparent!important;
    box-shadow: none!important;
}

.btn-warning-outline.disabled,
.btn-warning-outline:disabled {
    color: #ffffff !important;
    background-color: #202a25 !important;
    border-color: #202a25 !important;
}

.btn-danger-outline,
.btn-danger-outline:active {
    background-color: transparent !important;
    border-color: transparent;
    color: #ff9966;
}

.btn-danger-outline:hover,
.btn-danger-outline:focus,
.btn-danger-outline.focus,
.btn-danger-outline.active {
    color: #ff5f0f !important;
    background-color: transparent!important;
    border-color: transparent!important;
    box-shadow: none!important;
}

.btn-danger-outline.disabled,
.btn-danger-outline:disabled {
    color: #ffffff !important;
    background-color: #ff9966 !important;
    border-color: #ff9966 !important;
}

.btn-black-outline,
.btn-black-outline:active {
    background-color: transparent !important;
    border-color: transparent;
    color: #232323;
}

.btn-black-outline:hover,
.btn-black-outline:focus,
.btn-black-outline.focus,
.btn-black-outline.active {
    color: #000000 !important;
    background-color: transparent!important;
    border-color: transparent!important;
    box-shadow: none!important;
}

.btn-black-outline.disabled,
.btn-black-outline:disabled {
    color: #ffffff !important;
    background-color: #232323 !important;
    border-color: #232323 !important;
}

.btn-white-outline,
.btn-white-outline:active {
    background-color: transparent !important;
    border-color: transparent;
    color: #fafafa;
}

.btn-white-outline:hover,
.btn-white-outline:focus,
.btn-white-outline.focus,
.btn-white-outline.active {
    color: #cfcfcf !important;
    background-color: transparent!important;
    border-color: transparent!important;
    box-shadow: none!important;
}

.btn-white-outline.disabled,
.btn-white-outline:disabled {
    color: #7a7a7a !important;
    background-color: #fafafa !important;
    border-color: #fafafa !important;
}

.text-primary {
    color: #20d8da !important;
}

.text-secondary {
    color: #20d8da !important;
}

.text-success {
    color: #20d8da !important;
}

.text-info {
    color: #12056e !important;
}

.text-warning {
    color: #202a25 !important;
}

.text-danger {
    color: #ff9966 !important;
}

.text-white {
    color: #fafafa !important;
}

.text-black {
    color: #232323 !important;
}

a.text-primary:hover,
a.text-primary:focus,
a.text-primary.active {
    color: #138081 !important;
}

a.text-secondary:hover,
a.text-secondary:focus,
a.text-secondary.active {
    color: #138081 !important;
}

a.text-success:hover,
a.text-success:focus,
a.text-success.active {
    color: #138081 !important;
}

a.text-info:hover,
a.text-info:focus,
a.text-info.active {
    color: #02010c !important;
}

a.text-warning:hover,
a.text-warning:focus,
a.text-warning.active {
    color: #000000 !important;
}

a.text-danger:hover,
a.text-danger:focus,
a.text-danger.active {
    color: #ff5500 !important;
}

a.text-white:hover,
a.text-white:focus,
a.text-white.active {
    color: #c7c7c7 !important;
}

a.text-black:hover,
a.text-black:focus,
a.text-black.active {
    color: #000000 !important;
}

a[class*="text-"]:not(.nav-link):not(.dropdown-item):not([role]) {
    position: relative;
    background-image: transparent;
    background-size: 10000px 2px;
    background-repeat: no-repeat;
    background-position: 0px 1.2em;
    background-position: -10000px 1.2em;
}

a[class*="text-"]:not(.nav-link):not(.dropdown-item):not([role]):hover {
    transition: background-position 2s ease-in-out;
    background-image: linear-gradient(currentColor 50%, currentColor 50%);
    background-position: 0px 1.2em;
}

.nav-tabs .nav-link.active {
    color: #20d8da;
}

.nav-tabs .nav-link:not(.active) {
    color: #232323;
}

.alert-success {
    background-color: #70c770;
}

.alert-info {
    background-color: #12056e;
}

.alert-warning {
    background-color: #202a25;
}

.alert-danger {
    background-color: #ff9966;
}

.mbr-gallery-filter li.active .btn {
    background-color: #20d8da;
    border-color: #20d8da;
    color: #ffffff;
}

.mbr-gallery-filter li.active .btn:focus {
    box-shadow: none;
}

a,
a:hover {
    color: #20d8da;
}

.mbr-plan-header.bg-primary .mbr-plan-subtitle,
.mbr-plan-header.bg-primary .mbr-plan-price-desc {
    color: #cef7f8;
}

.mbr-plan-header.bg-success .mbr-plan-subtitle,
.mbr-plan-header.bg-success .mbr-plan-price-desc {
    color: #cef7f8;
}

.mbr-plan-header.bg-info .mbr-plan-subtitle,
.mbr-plan-header.bg-info .mbr-plan-price-desc {
    color: #260be8;
}

.mbr-plan-header.bg-warning .mbr-plan-subtitle,
.mbr-plan-header.bg-warning .mbr-plan-price-desc {
    color: #d2ddd7;
}

.mbr-plan-header.bg-danger .mbr-plan-subtitle,
.mbr-plan-header.bg-danger .mbr-plan-price-desc {
    color: #ffffff;
}


/* Scroll to top button*/

.scrollToTop_wraper {
    display: none;
}

.form-control {
    font-family: 'Jost', sans-serif;
    font-size: 1.1rem;
    line-height: 1.5;
    font-weight: 400;
}

.form-control>.mbr-iconfont {
    font-size: 1.375rem;
}

.form-control:hover,
.form-control:focus {
    box-shadow: rgba(0, 0, 0, 0.07) 0px 1px 1px 0px, rgba(0, 0, 0, 0.07) 0px 1px 3px 0px, rgba(0, 0, 0, 0.03) 0px 0px 0px 1px;
    border-color: #20d8da !important;
}

.form-control:-webkit-input-placeholder {
    font-family: 'Jost', sans-serif;
    font-size: 1.1rem;
    line-height: 1.5;
    font-weight: 400;
}

.form-control:-webkit-input-placeholder>.mbr-iconfont {
    font-size: 1.375rem;
}

blockquote {
    border-color: #20d8da;
}


/* Forms */

.jq-selectbox li:hover,
.jq-selectbox li.selected {
    background-color: #20d8da;
    color: #ffffff;
}

.jq-number__spin {
    transition: 0.25s ease;
}

.jq-number__spin:hover {
    border-color: #20d8da;
}

.jq-selectbox .jq-selectbox__trigger-arrow,
.jq-number__spin.minus:after,
.jq-number__spin.plus:after {
    transition: 0.4s;
    border-top-color: #353535;
    border-bottom-color: #353535;
}

.jq-selectbox:hover .jq-selectbox__trigger-arrow,
.jq-number__spin.minus:hover:after,
.jq-number__spin.plus:hover:after {
    border-top-color: #20d8da;
    border-bottom-color: #20d8da;
}

.xdsoft_datetimepicker .xdsoft_calendar td.xdsoft_default,
.xdsoft_datetimepicker .xdsoft_calendar td.xdsoft_current,
.xdsoft_datetimepicker .xdsoft_timepicker .xdsoft_time_box>div>div.xdsoft_current {
    color: #000000 !important;
    background-color: #20d8da !important;
    box-shadow: none !important;
}

.xdsoft_datetimepicker .xdsoft_calendar td:hover,
.xdsoft_datetimepicker .xdsoft_timepicker .xdsoft_time_box>div>div:hover {
    color: #000000 !important;
    background: #20d8da !important;
    box-shadow: none !important;
}

.lazy-bg {
    background-image: none !important;
}

.lazy-placeholder:not(section),
.lazy-none {
    display: block;
    position: relative;
    padding-bottom: 56.25%;
    width: 100%;
    height: auto;
}

iframe.lazy-placeholder,
.lazy-placeholder:after {
    content: '';
    position: absolute;
    width: 200px;
    height: 200px;
    background: transparent no-repeat center;
    background-size: contain;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg width='32' height='32' viewBox='0 0 64 64' xmlns='http://www.w3.org/2000/svg' stroke='%2320d8da' %3e%3cg fill='none' fill-rule='evenodd'%3e%3cg transform='translate(16 16)' stroke-width='2'%3e%3ccircle stroke-opacity='.5' cx='16' cy='16' r='16'/%3e%3cpath d='M32 16c0-9.94-8.06-16-16-16'%3e%3canimateTransform attributeName='transform' type='rotate' from='0 16 16' to='360 16 16' dur='1s' repeatCount='indefinite'/%3e%3c/path%3e%3c/g%3e%3c/g%3e%3c/svg%3e");
}

section.lazy-placeholder:after {
    opacity: 0.5;
}

body {
    overflow-x: hidden;
}

a {
    transition: color 0.6s;
}

.cid-sbX5zQ0fI6 {
    background-image: url("../../../assets/images/download-1920x1080.jpg");
}

.cid-sbX5zQ0fI6 .card-wrapper {
    background: #ffffff;
    border-radius: 4px;
}

@media (max-width: 767px) {
    .cid-sbX5zQ0fI6 .card-wrapper {
        padding: 1rem;
    }
}

@media (min-width: 768px) and (max-width: 991px) {
    .cid-sbX5zQ0fI6 .card-wrapper {
        padding: 2rem;
    }
}

@media (min-width: 992px) {
    .cid-sbX5zQ0fI6 .card-wrapper {
        padding: 4rem;
    }
}

.cid-sbWSvoFwVg {
    background-image: url("../../../assets/images/264293-1920x1080.jpg");
}

.cid-sbWSvoFwVg .mbr-text,
.cid-sbWSvoFwVg .mbr-section-btn {
    text-align: center;
}

.cid-sbXw643mtE {
    padding-top: 6rem;
    padding-bottom: 6rem;
    background-color: #ffffff;
}

.cid-sbXw643mtE img,
.cid-sbXw643mtE .item-img {
    height: 100%;
    height: 300px;
    object-fit: cover;
}

.cid-sbXw643mtE .item:focus,
.cid-sbXw643mtE span:focus {
    outline: none;
}

.cid-sbXw643mtE .item {
    cursor: pointer;
    margin-bottom: 2rem;
}

.cid-sbXw643mtE .item-wrapper {
    position: relative;
    border-radius: 4px;
    background: #ffffff;
    height: 100%;
    display: flex;
    flex-flow: column nowrap;
}

@media (min-width: 992px) {
    .cid-sbXw643mtE .item-wrapper .item-content {
        padding: 2rem;
    }
}

@media (max-width: 991px) {
    .cid-sbXw643mtE .item-wrapper .item-content {
        padding: 1rem;
    }
}

.cid-sbXw643mtE .mbr-section-btn {
    margin-top: auto !important;
}

.cid-sbXw643mtE .mbr-section-title {
    color: #232323;
}

.cid-sbXw643mtE .mbr-text,
.cid-sbXw643mtE .mbr-section-btn {
    text-align: center;
}

.cid-sbXw643mtE .item-title {
    text-align: center;
}

.cid-sbXw643mtE .item-subtitle {
    text-align: center;
    color: #232323;
}

.cid-s48udlf8KU {
    padding-top: 5rem;
    padding-bottom: 2rem;
    background-image: url("../../../assets/images/27-1920x800.jpg");
}

.cid-s48udlf8KU .mbr-section-title {
    text-align: center;
    color: #20d8da;
}

.cid-s48udlf8KU .mbr-section-subtitle {
    text-align: left;
}

.cid-sbXFrkrjep {
    padding-top: 6rem;
    padding-bottom: 6rem;
    background-color: #ffffff;
}

.cid-sbXFrkrjep .mbr-iconfont {
    font-size: 1.4rem !important;
    font-family: 'Moririse2' !important;
    color: #20d8da;
    margin-left: 1rem;
}

.cid-sbXFrkrjep .panel-group {
    border: none;
}

.cid-sbXFrkrjep .panel-title {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.cid-sbXFrkrjep .panel-body,
.cid-sbXFrkrjep .card-header {
    padding: 1rem 0;
}

.cid-sbXFrkrjep .panel-title-edit {
    color: #000000;
}

.cid-sbXFrkrjep .card .card-header {
    background-color: transparent;
    margin-bottom: 0;
}

.cid-s48P1Icc8J {
    padding-top: 2rem;
    padding-bottom: 2rem;
    background-color: #232323;
}

.cid-s48P1Icc8J .row-links {
    width: 100%;
    justify-content: center;
}

.cid-s48P1Icc8J .social-row {
    width: 100%;
    justify-content: center;
}

.cid-s48P1Icc8J .media-container-row {
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.cid-s48P1Icc8J .media-container-row .foot-menu {
    list-style: none;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    padding: 0;
    margin-bottom: 0;
}

.cid-s48P1Icc8J .media-container-row .foot-menu li {
    padding: 0 1rem 1rem 1rem;
}

.cid-s48P1Icc8J .media-container-row .foot-menu li p {
    margin: 0;
}

.cid-s48P1Icc8J .media-container-row .social-list {
    padding-left: 0;
    margin-bottom: 0;
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
}

.cid-s48P1Icc8J .media-container-row .social-list .mbr-iconfont-social {
    font-size: 1.5rem;
    color: #ffffff;
}

.cid-s48P1Icc8J .media-container-row .social-list .soc-item {
    margin: 0 .5rem;
}

.cid-s48P1Icc8J .media-container-row .social-list a {
    margin: 0;
    opacity: .5;
    transition: .2s linear;
}

.cid-s48P1Icc8J .media-container-row .social-list a:hover {
    opacity: 1;
}

@media (max-width: 767px) {
    .cid-s48P1Icc8J .media-container-row .social-list {
        -webkit-justify-content: center;
        justify-content: center;
    }
}

.cid-s48P1Icc8J .media-container-row .row-copirayt {
    word-break: break-word;
    width: 100%;
}

.cid-s48P1Icc8J .media-container-row .row-copirayt p {
    width: 100%;
}

.cid-s48P1Icc8J .media-container-row .mbr-text {
    text-align: center;
}