<div class="card card-primary card-outline">
	<div class="card-header">
		<h3 class="card-title">
			<i class="fas fa-edit"></i>
			Ações
		</h3>
	</div>
	<div class="card-body">
		<button type="button" class="btn btn-default" data-toggle="modal" data-target="#modal-default">
			Launch Default Modal
		</button>
		<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#modal-primary">
			Launch Primary Modal
		</button>
		<button type="button" class="btn btn-secondary" data-toggle="modal" data-target="#modal-secondary">
			Launch Secondary Modal
		</button>
		<button type="button" class="btn btn-info" data-toggle="modal" data-target="#modal-info">
			Launch Info Modal
		</button>
		<button type="button" class="btn btn-danger" data-toggle="modal" data-target="#modal-danger">
			Launch Danger Modal
		</button>
		<button type="button" class="btn btn-warning" data-toggle="modal" data-target="#modal-warning">
			Launch Warning Modal
		</button>
		<button type="button" class="btn btn-success" data-toggle="modal" data-target="#modal-success">
			Gerar Código de Resgate
		</button>
		<br />
		<br />
		<button type="button" class="btn btn-default" data-toggle="modal" data-target="#modal-sm">
			Launch Small Modal
		</button>
		<button type="button" class="btn btn-default" data-toggle="modal" data-target="#modal-lg">
			Launch Large Modal
		</button>
		<button type="button" class="btn btn-default" data-toggle="modal" data-target="#modal-xl">
			Launch Extra Large Modal
		</button>

	</div>
	<!-- /.card -->
</div>

<div class="row">
	<div class="col-12">
		<div class="card">
			<div class="card-header">
				<h3 class="card-title">Últimas Vendas</h3>

				<div class="card-tools">
					<div class="input-group input-group-sm" style="width: 150px;">
						<input type="text" name="table_search" class="form-control float-right" placeholder="Search">

						<div class="input-group-append">
							<button type="submit" class="btn btn-default"><i class="fas fa-search"></i></button>
						</div>
					</div>
				</div>
			</div>
			<!-- /.card-header -->
			<div class="card-body table-responsive p-0">
				<table class="table table-hover text-nowrap">
					<thead>
						<tr>
							<th>ID Venda</th>
							<th>Usuário</th>
							<th>Jogo</th>
							<th>Conta do Jogo</th>
							<th>Data Venda</th>
							<th>Pendente</th>
							<th>Valor</th>
							<th>Ações</th>
						</tr>
					</thead>
					<tbody>
						<?php foreach ($this->view->vendas as $id_venda => $venda) {
							$venda['pendente'] == 1 ? $pendente = "Pendente" : $pendente = "";
						?> 
							<tr>
								<td><?= $venda['id_venda'] ?></td>
								<td><?= $venda['id_usuario'] ?> | <?= $venda['nome'] ?></td>
								<td><?= $venda['nome_jogo'] ?></td>
								<td><?= $venda['id_conta'] ?> | <?= $venda['email_conta'] ?></td>
								<td><?= date('d/m/Y H:i:s', strtotime($venda['data_venda'])) ?></td>
								<td><?= $pendente ?></td>
								<td>R$ <?= $venda['valor'] ?></td>
								<td>
									<button title="Excluir" type="button" class="btn btn-danger" data-toggle="modal" data-target="#modal-xl">
										<i class="far fa-trash-alt"></i>
									</button>
									<button title="Editar" type="button" class="btn btn-warning" data-toggle="modal" data-target="#modal-warning">
										<i class="far fa-edit"></i>
									</button>
									<button title="Add Código" type="button" class="btn btn-info" data-toggle="modal" data-target="#modal-info">
										<i class="far fa-plus-square"></i>
									</button>
								</td>
							</tr>
							
						<?php } ?>
					</tbody>
				</table>
			</div>
			<!-- /.card-body -->
		</div>
		<!-- /.card -->
	</div>
</div>

<div class="modal fade" id="modal-xl">
	<div class="modal-dialog modal-xl">
		<div class="modal-content">
			<div class="modal-header">
				<h4 class="modal-title">Extra Large Modal</h4>
				<button type="button" class="close" data-dismiss="modal" aria-label="Close">
					<span aria-hidden="true">&times;</span>
				</button>
			</div>
			<div class="modal-body">
				<p>One fine body&hellip;</p>
			</div>
			<div class="modal-footer justify-content-between">
				<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
				<button type="button" class="btn btn-primary">Save changes</button>
			</div>
		</div>
		<!-- /.modal-content -->
	</div>
	<!-- /.modal-dialog -->
</div>
<!-- /.modal -->

<div class="modal fade" id="modal-danger">
        <div class="modal-dialog">
          <div class="modal-content bg-danger">
            <div class="modal-header">
              <h4 class="modal-title">Danger Modal</h4>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">
              <p>One fine body&hellip;</p>
            </div>
            <div class="modal-footer justify-content-between">
              <button type="button" class="btn btn-outline-light" data-dismiss="modal">Close</button>
              <button type="button" class="btn btn-outline-light">Save changes</button>
            </div>
          </div>
          <!-- /.modal-content -->
        </div>
        <!-- /.modal-dialog -->
      </div>
      <!-- /.modal -->