<div class="container mt-5">
	<div class="row pt-2">

		<div class="col-md-3">

			<div class="perfil">
				<div class="perfilTopo py-1 px-2">
					<img src="img/bg-img/semfoto.jpg" class="border border-dark" width="100px">
				</div>

				<div class="perfilPainel">
					<div class="row mt-2 mb-2">
						<div class="col mb-2">
							<span class="perfilPainelNome">
								Informações Gerais 
								
							</span>
						</div>
					</div>

					<div class="row mb-2">
						<div class="col">
							<span class="perfilPainelItem">Jogos</span><br />
							<span class="perfilPainelItemValor">
							<?= count($this->view->jogos) ?>
							</span>
						</div>
					</div>

				</div>
			</div>

		</div>

		<div class="col-md-9">
			<!-- ##### Foreach Start ##### -->
			<?php foreach ($this->view->jogos as $id_jogo => $jogo) { ?>
				<div class="card mb-2">
					<div class="card-header">
						<div class="row">
							<img src="<?=$this->view->caminho.$jogo['img_icone'] ?>" width="80" class="ml-2 mr-5">
							<h4 class="post-title"><?=$jogo['nome_jogo'] ?></h4>
							<div class="col text-right">
								<button class="btn btn-warning"> </button>
								<button class="btn btn-danger"> </button>
							</div>
						</div>
					</div>
					<div class="card-body">
						<div class="row">
							<div class="col-12">
								<div class="post-details-content mb-20">
									<div class="blog-content">
										<h4 class="post-title"></h4>
										<div class="post-meta mb-30">
											<a href="#" class="post-date">Preço: <?=$jogo['valor'] ?></a>
											<a href="#" class="post-author">| Ativo: <?=$jogo['ativo'] =='1' ? "Sim" : "Não" ?></a>
											<a href="#" class="post-comments">| Data de Cadastro: <?=$jogo['data_cadastro'] ?></a>
											<hr>
											<br><?=$jogo['desc_jogo'] ?>
										</div>
									</div>
								</div>
							</div>
							
						</div>
					</div>
				</div>
			<?php } ?>
			<!-- ##### Foreach end ##### -->
		</div>
	</div>
</div>

<!-- ##### Contact Area Start ##### -->
<section class="contact-area section-padding-100">
	<div class="container">
		<div class="row">
			<!-- Contact Form Area -->
			<div class="col-12">
				<h4 class="mb-40">Preencha os campos</h4>

				<!-- Contact Form -->
				<div class="contact-form-area mb-100">
					<form action="/salvar_jogo" method="post">
						<div class="form-group">
							<input type="text" name="nome_jogo" class="form-control" placeholder="Nome do Jogo">
						</div>

						<div class="form-group">
							<input type="text" name="desc_jogo" class="form-control" placeholder="Insira a descrição do jogo">
						</div>

						<button type="submit" class="btn egames-btn w-100">Salvar</button>
					</form>
				</div>
			</div>
		</div>
	</div>
</section>
<!-- ##### Contact Area End ##### -->