<!-- ##### Contact Area Start ##### -->
<section class="contact-area section-padding-100">
  <div class="container">
    <div class="row">
      <!-- Contact Form Area -->
      <div class="col-12">
        <h4 class="mb-40">Preencha os campos</h4>

        <!-- Contact Form -->
        <div class="contact-form-area mb-100">
            <form action="/adm_jogos_cad" method="post">
              <div class="form-group">
                <input type="text"  name="nome_jogo" class="form-control" placeholder="Nome do Jogo">
              </div>
              
              <div class="form-group">
                <input type="text"  name="desc_jogo" class="form-control" placeholder="Insira a descrição do jogo">
              </div>

              <button type="submit" class="btn egames-btn w-100">Salvar</button>
            </form>
            </div>
      </div>
    </div>
  </div>
</section>
<!-- ##### Contact Area End ##### -->