
  <div class="row">
  <div class="col-12">
    <div class="card">
      <div class="card-header">
        <h3 class="card-title">Últimas Vendas</h3>

        <div class="card-tools">
          <div class="input-group input-group-sm" style="width: 150px;">
            <input type="text" name="table_search" class="form-control float-right" placeholder="Search">

            <div class="input-group-append">
              <button type="submit" class="btn btn-default"><i class="fas fa-search"></i></button>
            </div>
          </div>
        </div>
      </div>
      <!-- /.card-header -->
      <div class="card-body table-responsive p-0">
        <table class="table table-hover text-nowrap">
          <thead>
            <tr>
              <th>ID Venda</th>
              <th>Usuário</th>
              <th>Jogo</th>
              <th>Conta do Jogo</th>
              <th>Data Venda</th>
              <th>Pendente</th>
              <th>Valor</th>
            </tr>
          </thead>
          <tbody>
          <?php 
          $i = 0;
          foreach ($this->view->vendas as $id_venda => $venda) { 
            $i += 1;
            $venda['pendente'] == 1 ? $pendente = "Pendente": $pendente = ""; 
            ?>
            <tr>
              <td><?= $venda['id_venda'] ?></td>
              <td><?= $venda['id_usuario'] ?> | <?= $venda['nome'] ?></td>
              <td><?= $venda['nome_jogo'] ?></td>
              <td><?= $venda['id_conta'] ?> | <?= $venda['email_conta'] ?></td>
              <td><?= date('d/m/Y H:i:s', strtotime($venda['data_venda'])) ?></td>
              <td><?= $pendente ?></td>
              <td>R$ <?= $venda['valor']?></td>
            </tr>
            <?php 
          if($i >= 5){
          break;
          }
          } ?>
          </tbody>
        </table>
      </div>
      <!-- /.card-body -->
    </div>
    <!-- /.card -->
  </div>
</div>


<div class="row">
  <div class="col-12">
    <div class="card">
      <div class="card-header">
        <h3 class="card-title">Últimos Usuários</h3>

        <div class="card-tools">
          <div class="input-group input-group-sm" style="width: 150px;">
            <input type="text" name="table_search" class="form-control float-right" placeholder="Search">

            <div class="input-group-append">
              <button type="submit" class="btn btn-default"><i class="fas fa-search"></i></button>
            </div>
          </div>
        </div>
      </div>
      <!-- /.card-header -->
      <div class="card-body table-responsive p-0">
        <table class="table table-hover text-nowrap">
          <thead>
            <tr>
              <th>ID Usuário</th>
              <th>Nome</th>
              <th>Email</th>
              <th>Nick</th>
              <th>Ativo</th>
              <th>Data Cadastro</th>
            </tr>
          </thead>
          <tbody>
          <?php 
          $i = 0;
          foreach ($this->view->usuarios as $id_usu => $usuario) { 
            $i += 1;
            $usuario['ativo'] == 1 ? $ativo = "✅": $ativo = "❌"; 
            ?>
            <tr>
              <td><?= $usuario['id'] ?></td>
              <td><?= $usuario['nome'] ?></td>
              <td><?= $usuario['email'] ?></td>
              <td><?= $usuario['nick'] ?></td>
              <td><?= $ativo ?></td>
              <td><?= date('d/m/Y H:i:s', strtotime($usuario['data_cadastro'])) ?></td>
            </tr>
            <?php 
          if($i >= 5){
          break;
          }
          } ?>
          </tbody>
        </table>
      </div>
      <!-- /.card-body -->
    </div>
    <!-- /.card -->
  </div>
</div>
