<!-- ##### Breadcrumb Area Start ##### -->
<section class="breadcrumb-area bg-img bg-overlay" style="background-image: url(img/bg-img/23.jpg);">
    <div class="container h-100">
        <div class="row h-100 align-items-center">
            <!-- Breadcrumb Text -->
            <div class="col-12">
                <div class="breadcrumb-text">
                    <h2>Contato</h2>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- ##### Breadcrumb Area End ##### -->

<!-- ##### Contact Area Start ##### -->
<section class="contact-area section-padding-100">
    <div class="container">
        <div class="row">
            <?php if (isset($_GET['msg']) && $_GET['msg'] == 'erro') { ?>
                <div class="alert alert-danger col-12" role="alert">
                    Não foi possível enviar o email. Entre em contato no whatsapp pelo número (48) 988279192.
                </div>
            <?php } ?>
            <?php if (isset($_GET['msg']) && $_GET['msg'] == 'success') { ?>
                <div class="alert alert-success col-12" role="alert">
                    Mensagem enviada com sucesso! Obrigado pelo contato. Responderemos em breve.
                </div>
            <?php } ?>
            <div class="col-12">
                <div class="row">
                    <div class="col-12 col-lg-4">
                        <div class="contact-content mb-100">
                            <a href="#" class="mb-50 d-block"><img src="img/core-img/logo.png" alt=""></a>

                        </div>
                    </div>
                    <div class="col-12 col-lg-4">
                        <div class="contact-content mb-100">
                            <p>
                                <h6>Atendimento 24h</h6>
                                Temos uma equipe de prontidão para respondê-lo e prestar suporte todos os dias da semana, em qualquer horário.

                            </p>
                        </div>
                    </div>

                    <div class="col-12 col-lg-4">
                        <div class="contact-content mb-100">

                            <!-- Single Contact Info -->
                            <div class="single-contact-info d-flex align-items-center">
                                <div class="title">
                                    <p>Fone</p>
                                </div>
                                <p><i class="fa fa-whatsapp" aria-hidden="true"></i> (48) 988279192</p>
                            </div>

                            <!-- Single Contact Info -->
                            <div class="single-contact-info d-flex align-items-center">
                                <div class="title">
                                    <p>E-mail</p>
                                </div>
                                <p>support@onclickgames.com</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Contact Form Area -->
            <div class="col-12">
                <h4 class="mb-70">Envie-nos um email</h4>

                <!-- Contact Form -->
                <div class="contact-form-area mb-100">
                    <form action="/enviarEmailContato" method="post">
                        <div class="row">
                            <?php if (isset($_SESSION['id'])) { ?>
                                <div class="col-12 col-lg-6">
                                    <input readonly type="text" name="nome" value="<?= $_SESSION['nome'] ?>" class="form-control" id="nome" placeholder="Nome*">
                                </div>
                                <div class="col-12 col-lg-6">
                                    <input readonly type="email" name="email" value="<?= $_SESSION['email'] ?>" class="form-control" id="email" placeholder="Email*">
                                </div>
                            <?php } else { ?>
                                <div class="col-12 col-lg-6">
                                    <input required type="text" value="" name="nome" class="form-control" id="nome" placeholder="Nome*">
                                </div>
                                <div class="col-12 col-lg-6">
                                    <input required type="email" name="email" class="form-control" id="email" placeholder="Email*">
                                </div>
                            <?php }  ?>


                            <div class="col-12">
                                <select class="form-control" name="assunto">
                                    <option value="Assunto" selected>Assunto</option>
                                    <option value="Informação">Informação</option>
                                    <option value="Reclamação">Reclamação</option>
                                    <option value="Sugestão">Sugestão</option>
                                </select>
                            </div>
                            <div class="col-12">
                                <textarea name="mensagem" required class="form-control" id="mensagem" cols="30" rows="10" placeholder="Mensagem"></textarea>
                            </div>
                            <div class="col-12">
                                <button class="btn egames-btn w-100" type="submit">Enviar</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- ##### Contact Area End ##### -->