<!-- ##### Breadcrumb Area Start ##### -->
<section class="breadcrumb-area bg-img bg-overlay" style="background-image: url(img/bg-img/23.jpg);">
  <div class="container h-100">
    <div class="row h-100 align-items-center">
      <!-- Breadcrumb Text -->
      <div class="col-12">
        <div class="breadcrumb-text">
          <h2>Entrar</h2>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- ##### Breadcrumb Area End ##### -->

<?php if (isset($_GET['msg']) && $_GET['msg'] == 'successPass') { ?>
      <div class="alert alert-success col-12" role="alert">
        Senha alterada com sucesso
      </div>
    <?php } ?>

<!-- ##### Contact Area Start ##### -->
<section class="contact-area section-padding-100">
  <div class="container">
    <div class="row">
      <!-- Contact Form Area -->
      <div class="col-12">
        <h4 class="mb-40">Insira suas credenciais</h4>

        <!-- Contact Form -->
        <div class="contact-form-area mb-100">
          <form action="/autenticar" method="post">
            <div class="row">
              <div class="col-12 col-lg-4">
                <input type="email" class="form-control" name="email" id="email" placeholder="Email">
              </div>
              <div class="col-12 col-lg-4">
                <input type="password" class="form-control" name="senha" id="senha" placeholder="Senha*">
              </div>
              <input type="hidden" id="g-recaptcha-response" name="g-recaptcha-response">
            </div>

            <div class="row">
              <div class="col-lg-8 col-sm-12">
                <button class="btn egames-btn w-100" type="submit">Entrar</button>
              </div>
            </div>
            <?php if (isset($_GET['active']) && $_GET['active'] = 'success') { ?>
              <div class="row">
                <div class="col">
                  <span class="text text-success">*Ativação feita com Sucesso</span>
                </div>
              </div>
            <?php } ?>
            <?php if (isset($this->view->login) && $this->view->login == 'erro') { ?>
              <div class="row">
                <div class="col">
                  <span class="text text-danger">*E-mail e/ou senha inválido(s)</span>
                </div>
              </div>
            <?php } ?>
            <?php if (isset($_GET['login']) && $_GET['login'] == 'logar') { ?>
              <div class="row">
                <div class="col">
                  <span class="text text-danger">*Você precisa estar logado para comprar</span>
                </div>
              </div>
            <?php } ?>

            <?php if (isset($this->view->login) && $this->view->login == 'recaptchaScore') { ?>
              <div class="row">
                <div class="col">
                  <span class="text text-danger">*Você age como um robô. Você é um robô? Conte para a <a href="/contato">administração</a></span>
                </div>
              </div>
            <?php } ?>
          </form>
          <div class="row">
            <div class="col-6">
              <a class="text-right" href="/inscreverse">Crie uma Conta</a>
            </div>
            <div class="col-6">
              <a class="text-right" href="/recuperarSenha">Esqueci a senha</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- ##### Contact Area End ##### -->
<script src="https://www.google.com/recaptcha/api.js?render=6LfmIvYUAAAAAJIyCrtFdsJgKS9hcfLY2OGxmL4j"></script>
<script>
  (function getCaptcha() {
    grecaptcha.ready(function() {
      grecaptcha.execute('6LfmIvYUAAAAAJIyCrtFdsJgKS9hcfLY2OGxmL4j', {
        action: 'homepage'
      }).then(function(token) {
        const gRecaptchaResponse = document.querySelector("#g-recaptcha-response").value = token;
      });
    });
  }())
</script>