<!-- ##### Hero Area Start ##### -->
<div class="hero-area">
    <!-- Hero Post Slides -->
    <div class="hero-post-slides owl-carousel">
        <?php foreach ($this->view->jogosD as $id_jogo => $jogoD) { ?>
            <!-- Single Slide -->
            <div class="single-slide bg-img bg-overlay" style="background-image: url(img/bg-img/<?= $jogoD['img_icone'] ?>);">
                <!-- Blog Content -->
                <div class="container h-100">
                    <div class="row h-100 align-items-center">
                        <div class="col-12 col-lg-9">
                            <div class="blog-content" data-animation="fadeInUp" data-delay="100ms">
                                <div class="row">
                                    <h2 data-animation="fadeInUp" data-delay="400ms"><?= $jogoD['nome_jogo'] ?></h2>
                                </div>
                                <p data-animation="fadeInUp" data-delay="700ms"> <?= $jogoD['desc_jogo'] ?></p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        <?php } ?>
    </div>
</div>
<!-- ##### Hero Area End ##### -->


<!-- ##### Monthly Picks Area Start ##### -->
<section class="monthly-picks-area section-padding-100 bg-pattern">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="left-right-pattern"></div>
            </div>
        </div>
    </div>

    <div class="container">
        <div class="row">
            <div class="col-12">
                <ul class="nav nav-tabs wow fadeInUp" data-wow-delay="300ms" id="myTab" role="tablist">

                    <li class="nav-item">
                        <a class="nav-link" id="latest-tab" data-toggle="tab" href="#latest" role="tab" aria-controls="latest" aria-selected="false">Novos</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>

    <div class="tab-content wow fadeInUp" data-wow-delay="500ms" id="myTabContent">
        <div class="tab-pane fade show active" id="popular" role="tabpanel" aria-labelledby="popular-tab">
            <!-- Popular Games Slideshow -->
            <div class="popular-games-slideshow owl-carousel">

                <!-- Single Games -->
                <!-- ##### Foreach Start ##### -->
                <?php foreach ($this->view->jogosN as $id_jogo => $jogoN) { ?>
                    <div class="single-games-slide">
                        <a href="produto?item=<?= str_replace(' ','-',$jogoN['nome_jogo'])?>"> <img src="img/bg-img/<?= $jogoN['path'] ?>" alt=""></a>
                        <div class="slide-text">
                            <a href="produto?item=<?= str_replace(' ','-',$jogoN['nome_jogo'])?>" class="game-title h1" style="font-size: 15px"><?= $jogoN['nome_jogo'] ?></a>

                            <a href="#" class="game-title" style="font-size: 13px">R$ <?= str_replace('.', ',', $jogoN['valor'])  ?> </a>

                            <div class="meta-data">
                                <a href="#"><?= $jogoN['genero'] ?></a>
                            </div>
                        </div>
                    </div>
                <?php } ?>
                <!-- ##### Foreach end ##### -->
            </div>
        </div>
    </div>
</section>
<!-- ##### Monthly Picks Area End ##### -->

<!-- ##### Articles Area Start ##### -->
<section class="latest-articles-area section-padding-100-0 bg-img bg-pattern bg-fixed" style="background-image: url(img/bg-img/5.jpg);">
    <div class="container">
        <div class="row">

            <div class="col-lg-12">

                <div class="row">
                    <?php foreach ($this->view->jogosC as $id_jogo => $jogoC) { ?>
                        <div class="col-lg-4 col-md-6 mb-4">
                            <div class="card h-100">
                                <a href="produto?item=<?= str_replace(' ','-',$jogoC['nome_jogo'])?>"><img style="width: 700px;  height: 400px; object-fit: cover; object-position: center;" src="img/bg-img/<?= $jogoC['path'] ?>"></a>
                                <div class="card-body">
                                    <h4 class="card-title">
                                        <a href="produto?item=<?= str_replace(' ','-',$jogoC['nome_jogo'])?>"><?= $jogoC['nome_jogo'] ?></a>
                                    </h4>
                                    <h5>R$ <?= str_replace('.', ',', $jogoC['valor'])?></h5>
                                    <p class="card-text" style="  width:200px; overflow:hidden; text-overflow:ellipsis; white-space:nowrap; margin:5px 0 0 0;"><?= $jogoC['desc_jogo'] ?></p>
                                </div>
                            </div>
                        </div>
                    <?php } ?>
                </div>
                <!-- /.row -->

            </div>
            <!-- /.col-lg-9 -->

        </div>
        <!-- /.row -->
    </div>
</section>
<!-- ##### Articles Area End ##### -->