<!-- ##### Breadcrumb Area Start ##### -->
<section class="breadcrumb-area bg-img bg-overlay" style="background-image: url(img/bg-img/23.jpg);">
  <div class="container h-100">
    <div class="row h-100 align-items-center">
      <!-- Breadcrumb Text -->
      <div class="col-12">
        <div class="breadcrumb-text">
          <h2>Criar Conta</h2>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- ##### Breadcrumb Area End ##### -->

<!-- ##### Contact Area Start ##### -->
<section class="contact-area section-padding-100">
  <div class="container">
    <div class="row">
      <!-- Contact Form Area -->
      <div class="col-12">
        <h4 class="mb-40">Preencha os campos</h4>

        <!-- Contact Form -->
        <div class="contact-form-area mb-100">
          <form action="/registrar" method="post">
            <div class="form-group">
              <input type="text" minlength="5" required value="<?= $this->view->usuario['nome'] ?>" name="nome" class="form-control" placeholder="Nome">
            </div>

            <div class="form-group">
              <input type="email" required value="<?= $this->view->usuario['email'] ?>" name="email" class="form-control" placeholder="E-mail">
            </div>


            <div class="form-group">
              <input type="password" minlength="8" required value="<?= $this->view->usuario['senha'] ?>" name="senha" class="form-control" placeholder="Senha">
            </div>
            <input type="hidden" id="g-recaptcha-response" name="g-recaptcha-response">


            <div class="mt-4 mb-4">
              <small class="form-text">
                Ao inscrever-se, você concorda com os Termos de Serviço e com as Políticas de Privacidade, incluindo o Uso de Cookies.
              </small>
            </div>
            <button type="submit" class="btn egames-btn w-100">Inscrever-se</button>

            <?php if (isset($this->view->erroCadastro) && $this->view->erroCadastro == 'erro') { ?>

              <small class="form-text text-danger">*Erro ao tentar realizar o cadastro, verifique se os campos foram preenchidos corretamente.</small>

            <?php } ?>
            <?php if (isset($this->view->signin) && $this->view->signin == 'recaptcha') { ?>

              <span class="text text-danger">*Você age como um robô. Você é um robô? Conte para a <a href="/contato">administração</a></span>

            <?php } ?>
            <?php if (isset($this->view->signin) && $this->view->signin == 'email') { ?>

              <span class="text text-danger">*Apenas contas com os principais domínios de email do mercado</span>

            <?php } ?>
          </form>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- ##### Contact Area End ##### -->
<script src="https://www.google.com/recaptcha/api.js?render=6LfmIvYUAAAAAJIyCrtFdsJgKS9hcfLY2OGxmL4j"></script>
<script>
  (function getCaptcha(){
     grecaptcha.ready(function() {
        grecaptcha.execute('6LfmIvYUAAAAAJIyCrtFdsJgKS9hcfLY2OGxmL4j', {action: 'homepage'}).then(function(token) {
           const gRecaptchaResponse = document.querySelector("#g-recaptcha-response").value=token;
        });
    });
}())
</script>