<div id="header">
    <div class="section justify-content-center">
        <nav class="navbar navbar-expand-lg navbar-dark navbar-round py-2 py-lg-3">
            <div class="container">
                <a style="margin: 0 auto;" class="navbar-brand" href="/"><img src="https://onclickgames.com/img/core-img/logo.png" alt="Onclick Games" class="img-fluid sm-max-w-200 max-w-250"></a>
            </div>
        </nav>
    </div>
</div>
<section class="header12 cid-sbX5zQ0fI6 mbr-fullscreen mbr-parallax-background" id="header12-u">

    <div class="container-fluid">
        <div class="row justify-content-center">
            <div class="card col-12 col-md-12 col-lg-9">
                <div class="card-wrapper">
                    <div class="card-box align-center">
                        <h1 class="card-title mbr-fonts-style mb-3 display-5"><strong>Jogos de PC por um preço
                                justo</strong></h1>
                        <p class="mbr-text mbr-fonts-style display-7">Já se arrependeu de <strong>gastar
                            </strong>R$200 naquele jogo que, no fim, não era o que você esperava?<br>Na
                            <strong>Onclick Games</strong> você joga os mais novos lançamentos do PC por uma fração
                            do valor do total do jogo.</p>
                        <div class="mbr-section-btn mt-3"><a class="btn btn-secondary-outline display-5" href="https://onclickgames.com/"><span class="mbri-rocket mbr-iconfont mbr-iconfont-btn"></span>Quero conhecer</a></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="header18 cid-sbWSvoFwVg mbr-fullscreen" id="header18-q">



    <div class="mbr-overlay" style="opacity: 0.2; background-color: rgb(68, 121, 217);"></div>

    <div class="align-center container">
        <div class="row justify-content-center">
            <div class="col-12 col-lg-7">
                <h1 class="mbr-section-title mbr-fonts-style mbr-white mb-3 display-1"><strong>Onclick
                        Games</strong></h1>

                <p class="mbr-text mbr-fonts-style mbr-white display-5">Com apenas um click, você resgata seu
                    produto imediatamente e automaticamente após a compra, e ainda conta com um suporte
                    total<strong> 24h por dia.</strong><br></p>
                <div class="mbr-section-btn mt-3"><a class="btn btn-primary display-5" href="https://onclickgames.com/"><span class="mbri-rocket mbr-iconfont mbr-iconfont-btn"></span>Testar Agora&nbsp;</a></div>
            </div>
        </div>
    </div>
</section>

<section class="content3 cid-sbXw643mtE" id="content3-w">


    <div class="container">
        <div class="mbr-section-head">
            <h4 class="mbr-section-title mbr-fonts-style align-center mb-0 display-2"><strong>Benefícios em fazer
                    parte da nossa comunidade</strong></h4>

        </div>
        <div class="row mt-4">
            <div class="item features-image сol-12 col-md-6 col-lg-4">
                <div class="item-wrapper">
                    <div class="item-img">
                        <img src="assets/images/cashback-icon-cash-back-money-return-bank-card-as-bonus-program-flat-cartoon-illustration-212005-446-626x503.jpg" alt="Pontos no site" title="" data-slide-to="0">
                    </div>
                    <div class="item-content">

                        <h6 class="item-subtitle mbr-fonts-style mt-1 display-7"><strong>Acumule pontos</strong>
                        </h6>
                        <p class="mbr-text mbr-fonts-style mt-3 display-7">A cada compra que você faz, você recebe
                            10% do valor em Pontos OnClick, para trocar por outros jogos.</p>
                    </div>

                </div>
            </div>
            <div class="item features-image сol-12 col-md-6 col-lg-4">
                <div class="item-wrapper">
                    <div class="item-img">
                        <img src="assets/images/cash-1-512x512.png" alt="Cash Back" title="" data-slide-to="1">
                    </div>
                    <div class="item-content">

                        <h6 class="item-subtitle mbr-fonts-style mt-1 display-7"><strong>Indique e Ganhe</strong></h6>
                        <p class="mbr-text mbr-fonts-style mt-3 display-7">Indique a Onclick para seus amigos e
                            ganhe 8% do valor se eles comprarem pelo seu link após sua recomendação.<br>
                        </p>
                    </div>

                </div>
            </div>
            <div class="item features-image сol-12 col-md-6 col-lg-4">
                <div class="item-wrapper">
                    <div class="item-img">
                        <img src="assets/images/img-440804-696x697.png" alt="Lançamentos" title="" data-slide-to="2">
                    </div>
                    <div class="item-content">

                        <h6 class="item-subtitle mbr-fonts-style mt-1 display-7"><strong>Lista sempre
                                atualizada</strong></h6>
                        <p class="mbr-text mbr-fonts-style mt-3 display-7">Os maiores títulos sempre disponíveis no
                            mesmo dia do lançamento.</p>
                    </div>

                </div>
            </div>


        </div>
    </div>
</section>
<div class="video-container">
    <iframe src="https://www.youtube.com/embed/97kk7h4KZm4" allow="autoplay; encrypted-media" allowfullscreen="allowfullscreen" width="100%" height="720" frameborder="0">
    </iframe>
</div>

<section class="content1 cid-s48udlf8KU mbr-parallax-background" id="content1-8">

    <div class="container">
        <div class="row justify-content-center">
            <div class="title col-12 col-md-9">
                <h3 class="mbr-section-title mbr-fonts-style align-center mb-4 display-5"><strong>Revolucionar o
                        mercado de games e&nbsp; poupar seu dinheiro é a nossa principal Missão</strong></h3>


            </div>
        </div>
    </div>
</section>

<section class="content16 cid-sbXFrkrjep" id="content16-x">




    <div class="container">
        <div class="row justify-content-center">
            <div class="col-12 col-md-10">
                <div class="mbr-section-head align-center mb-4">
                    <h3 class="mbr-section-title mb-0 mbr-fonts-style display-2">
                        <strong>Perguntas Frequentes</strong></h3>

                </div>
                <div id="bootstrap-accordion_9" class="panel-group accordionStyles accordion" role="tablist" aria-multiselectable="true">
                    <div class="card mb-3">
                        <div class="card-header" role="tab" id="headingOne">
                            <a role="button" class="panel-title collapsed" data-toggle="collapse" data-core="" href="#collapse1_9" aria-expanded="false" aria-controls="collapse1">
                                <h6 class="panel-title-edit mbr-fonts-style mb-0 display-7"><strong>Como
                                        funciona?</strong>&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
                                    &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;</h6>
                                <span class="sign mbr-iconfont mbri-arrow-down"></span>
                            </a>
                        </div>
                        <div id="collapse1_9" class="panel-collapse noScroll collapse" role="tabpanel" aria-labelledby="headingOne" data-parent="#bootstrap-accordion_9">
                            <div class="panel-body">
                                <p class="mbr-fonts-style panel-text display-4">Você recebe login e senha de uma
                                    conta que contém o jogo que você adquiriu, para jogar o modo campanha.</p>
                            </div>
                        </div>
                    </div>
                    <div class="card mb-3">
                        <div class="card-header" role="tab" id="headingOne">
                            <a role="button" class="panel-title collapsed" data-toggle="collapse" data-core="" href="#collapse3_9" aria-expanded="false" aria-controls="collapse3">
                                <h6 class="panel-title-edit mbr-fonts-style mb-0 display-7"><strong>Como farei login
                                        na conta do jogo?&nbsp;</strong></h6>
                                <span class="sign mbr-iconfont mbri-arrow-down"></span>
                            </a>
                        </div>
                        <div id="collapse3_9" class="panel-collapse noScroll collapse" role="tabpanel" aria-labelledby="headingOne" data-parent="#bootstrap-accordion_9">
                            <div class="panel-body">
                                <p class="mbr-fonts-style panel-text display-4">
                                    Cada plataforma (Exemplo: Steam; Epic Games...) possui um sistema diferente.
                                    Todos os jogos possuem as instruções disponíveis na sua biblioteca de jogos.</p>
                            </div>
                        </div>
                    </div>
                    <div class="card mb-3">
                        <div class="card-header" role="tab" id="headingOne">
                            <a role="button" class="panel-title collapsed" data-toggle="collapse" data-core="" href="#collapse4_9" aria-expanded="false" aria-controls="collapse4">
                                <h6 class="panel-title-edit mbr-fonts-style mb-0 display-7"><strong>Vou precisar
                                        solicitar o código de verificação toda vez que logar?</strong></h6>
                                <span class="sign mbr-iconfont mbri-arrow-down"></span>
                            </a>
                        </div>
                        <div id="collapse4_9" class="panel-collapse noScroll collapse" role="tabpanel" aria-labelledby="headingOne" data-parent="#bootstrap-accordion_9">
                            <div class="panel-body">
                                <p class="mbr-fonts-style panel-text display-4">Se seguir o tutorial, você pode
                                    alterar as contas quantas vezes quiser, sem precisar do código Steam Guard.
                                    <br>Mas, caso necessite do código novamente, nossa plataforma é totalmente
                                    automatizada. Você consegue receber seu código qualquer hora do dia.</p>
                            </div>
                        </div>
                    </div>
                    <div class="card mb-3">
                        <div class="card-header" role="tab" id="headingOne">
                            <a role="button" class="panel-title collapsed" data-toggle="collapse" data-core="" href="#collapse5_9" aria-expanded="false" aria-controls="collapse5">
                                <h6 class="panel-title-edit mbr-fonts-style mb-0 display-7"><strong>Se eu formatar o
                                        PC, eu perco meu jogo?
                                    </strong></h6>
                                <span class="sign mbr-iconfont mbri-arrow-down"></span>
                            </a>
                        </div>
                        <div id="collapse5_9" class="panel-collapse noScroll collapse" role="tabpanel" aria-labelledby="headingOne" data-parent="#bootstrap-accordion_9">
                            <div class="panel-body">
                                <p class="mbr-fonts-style panel-text display-4">
                                    Não! Nossa plataforma é totalmente automatizada. Você pode fazer login e receber
                                    o código Steam Guard a qualquer hora do dia.</p>
                            </div>
                        </div>
                    </div>
                    <div class="card mb-3">
                        <div class="card-header" role="tab" id="headingOne">
                            <a role="button" class="panel-title collapsed" data-toggle="collapse" data-core="" href="#collapse6_9" aria-expanded="false" aria-controls="collapse6">
                                <h6 class="panel-title-edit mbr-fonts-style mb-0 display-7"><strong>Qual a diferença
                                        entre Pontos e Saldo?</strong></h6>
                                <span class="sign mbr-iconfont mbri-arrow-down"></span>
                            </a>
                        </div>
                        <div id="collapse6_9" class="panel-collapse noScroll collapse" role="tabpanel" aria-labelledby="headingOne" data-parent="#bootstrap-accordion_9">
                            <div class="panel-body">
                                <p class="mbr-fonts-style panel-text display-4">
                                    A cada compra que você fizer no nosso site, você receberá 10% do valor em Pontos
                                    OnClick, para que você possa trocar por outros jogos. A cada venda que você
                                    fizer como afiliado, você receberá 8% de comissão no seu Saldo, que podem ser
                                    resgatado quando você tiver o valor de, no mínimo R$20,00 na carteira. O Saldo
                                    também pode ser usado para inteirar os Pontos OnClick, caso você deseje trocar
                                    por um jogo novo.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="footer3 cid-s48P1Icc8J" once="footers" id="footer3-i">





    <div class="container">
        <div class="media-container-row align-center mbr-white">


            <div class="row row-copirayt">
                <p class="mbr-text mb-0 mbr-fonts-style mbr-white align-center display-7">
                    © Copyright 2020 OnClick Games. Todos os direitos reservados.
                </p>
            </div>
        </div>
    </div>
</section>