<!-- Page Content -->
<div class="container">

  <div class="row">

    <div class="col-lg-12">

      <div class="row">

        <?php foreach ($this->view->games as $id_game => $game) { ?>

          <div class="col-lg-4 col-md-6 mb-4">
            <div class="card h-100">
              <a href="produto?item=<?= str_replace(' ', '-', $game['nome_jogo']) ?>" id="game"><img style="width: 700px;  height: 400px; object-fit: cover; object-position: center;" src="img/bg-img/<?= $game['path'] ?>"></a>
              <div class="card-body">
                <h4 class="card-title">
                  <h6><?= $game['nome_jogo'] ?></h6>
                </h4>
                <h5>R$ <?= str_replace('.', ',', $game['valor']) ?></h5>
                <p class="card-text" style="  width:200px; overflow:hidden; text-overflow:ellipsis; white-space:nowrap; margin:5px 0 0 0;"><?= $game['desc_jogo'] ?></p>
              </div>
            </div>
          </div>

        <?php } ?>
        <?php if (isset($this->view->result) && $this->view->result == 'empty') { ?>
          <div class="col-lg-4 col-md-6 mb-100">
            <div class="card h-100">
              <div class="alert alert-alert col-12" role="alert">
                Nenhum registro encontrado!
              </div>
            </div>
          </div>
        <?php } ?>
      </div>
      <!-- /.row -->

    </div>
    <!-- /.col-lg-9 -->

  </div>
  <!-- /.row -->

</div>
<!-- /.container -->