<!-- ##### Contact Area Start ##### -->
<section class="contact-area section-padding-100">
  <div class="container">

    <!-- Contact Form Area -->
    <div class="col-sm-12 ">
      <h4 class="mb-40">Nova Senha</h4>

      <!-- Contact Form -->
      <div class="contact-form-area mb-100">
        <form action="/atualizarSenha" method="post">
          <div class="row">
            <div class="col-12 col-lg-4">
              <input type="password" minlength="8" required class="form-control" name="senha" id="txtSenha" placeholder="Nova Senha*">
            </div>
            <input  type="hidden" value="<?=$_GET['cod']?>" name="cod">
          </div>

          <div class="row">
            <div class="col-12 col-lg-4">
              <label for="repetir_senha">Confirmar Senha</label>
              <input autocomplete="off" required class="form-control" id="repetir_senha" name="repetir_senha" type="password" required placeholder="Repita a Senha*" title="Repetir Senha" oninput="validaSenha(this)"/>
            </div>
            <input type="hidden" id="g-recaptcha-response" name="g-recaptcha-response">
          </div>

         

          <div class="row">
            <div class="col-lg-8 col-sm-12">
              <button class="btn egames-btn " type="submit">Enviar</button>
            </div>
          </div>
          <?php if (isset($this->view->login) && $this->view->login == 'erro') { ?>
            <div class="row">
              <div class="col">
                <span class="text text-danger">*E-mail e/ou senha inválido(s)</span>
              </div>
            </div>
          <?php } ?>
          <?php if (isset($_GET['login']) && $_GET['login'] == 'logar') { ?>
            <div class="row">
              <div class="col">
                <span class="text text-danger">*Você precisa estar logado para comprar</span>
              </div>
            </div>
          <?php } ?>
          <?php if (isset($this->view->login) && $this->view->login == 'recaptchaScore') { ?>
            <div class="row">
              <div class="col">
                <span class="text text-danger">*Você age como um robô. Você é um robô? Conte para a <a href="/contato">administração</a></span>
              </div>
            </div>
          <?php } ?>
        </form>
      </div>
    </div>

  </div>
</section>
<!-- ##### Contact Area End ##### -->
<script src="https://www.google.com/recaptcha/api.js?render=6LfmIvYUAAAAAJIyCrtFdsJgKS9hcfLY2OGxmL4j"></script>
<script>
  function validaSenha(input) {
    if (input.value != document.getElementById('txtSenha').value) {
      input.setCustomValidity('Repita a senha corretamente');
    } else {
      input.setCustomValidity('');
    }
  }

  (function getCaptcha() {
    grecaptcha.ready(function() {
      grecaptcha.execute('6LfmIvYUAAAAAJIyCrtFdsJgKS9hcfLY2OGxmL4j', {
        action: 'homepage'
      }).then(function(token) {
        const gRecaptchaResponse = document.querySelector("#g-recaptcha-response").value = token;
      });
    });
  }())
</script>