    <!-- ##### Single Game Review Area Start ##### -->
    <section class="single-game-review-area section-padding-100">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div class="single-game-img-slides">
                        <div id="gameSlides" class="carousel slide" data-ride="carousel">
                            <div class="carousel-inner">
                                <div class="carousel-item active">
                                    <img class="d-block w-100" src="img/bg-img/<?= $this->view->games[0]['img_icone'] ?>" alt="">
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
            <?php if (isset($_SESSION['id'])) { ?>
                <div class="alert alert-success col-12" role="alert">

                    Compartilhe o link <input style="background-color: #20D8DA;" readonly id="linkAfiliado" value="<?= $_SERVER['SERVER_NAME'] ?>/produto?item=<?= str_replace(' ', '-', $this->view->games[0]['nome_jogo']) ?>&affiliate=<?= $_SESSION['hash'] ?>" /> e ganhe até R$ <?= number_format((float)$this->view->games[0]['valor'] * 0.08, 2, ',', '') ?> | Confira o <a href="/regulamento" target="_blank">Regulamento</a>
                </div>
            <?php } ?>



            <div class="row align-items-center">
                <!-- *** Review Area *** -->
                <div class="col-12 col-md-6">
                    <div class="single-game-review-area style-2 mt-70">
                        <div class="game-content">
                            <span class="game-tag"><?= $this->view->games[0]['genero'] ?></span>
                            <a href="#" class="game-title"><?= $this->view->games[0]['nome_jogo'] ?></a>
                            <div class="game-meta">
                                <a href="#" class="game-date">R$ <?= str_replace('.', ',', $this->view->games[0]['valor']) ?></a>
                            </div>
                            <p><?= $this->view->games[0]['desc_jogo'] ?></p>
                            <!-- Download & Rating Area -->
                            <div class="download-rating-area">
                                <div class="download-area">
                                    <button type="button" class="btn egames-btn w-100" data-toggle="modal" data-target="#termos">Comprar</button>
                                    <a href="#"></a>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>

                <!-- *** Barfiller Area *** -->
                <div class="col-12 col-md-6">

                    <div class="single-game-review-area style-2 mt-70">
                        <div class="game-content">
                            <h6>Requisitos: </h6>
                            <?php $requisitos = preg_replace("/\n/", "<br>", $this->view->games[0]['requisitos']);
                            ?>
                            <?= $requisitos ?>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- ##### Single Game Review Area End ##### -->
    <!-- Modal -->
    <div class="modal fade" id="termos" tabindex="1" role="dialog" aria-labelledby="termosTitle" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="termosTitle">Termos de Serviço</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <p>
                        Você está comprando uma User ID com o jogo <mark><?= $this->view->games[0]['nome_jogo'] ?></mark> ativado originalmente pela plataforma <mark><?= $this->view->games[0]['plataforma'] ?></mark> para jogar a qualquer hora.
                        Você terá acesso vitalício à conta ou, até a plataforma mudar o modo como ela distribui suas mídias digitais. <br> Nós da Onclick Games não temos acesso a essas informação e não sabemos se, ou quando elas podem vir a ocorrer. <br> Seu dinheiro estará segurado, e será integralmente reembolsado nas compras feitas há menos de um mês, no caso não conseguirmos mais oferecer nossos serviços a você.
                    </p>
                    <div class="form-check">
                        <input type="checkbox" class="form-check-input" id="checkTermo" onclick="aceitaTermo()">
                        <label class="form-check-label" for="checkTermo">Aceitar termos</label>
                    </div>
                </div>

                <div class="modal-footer">
                    <a href="/pagamento?item=<?= str_replace(' ', '-', $this->view->games[0]['nome_jogo']) ?>"><button class="btn btn-success" id="btnAceitarProsseguir" disabled type="submit">Continuar</button></a>
                </div>
            </div>
        </div>
    </div>