<!-- ##### Contact Area Start ##### -->
<section class="contact-area section-padding-100">
  <div class="container">
    <?php if (isset($_GET['msg']) && $_GET['msg'] == 'success') { ?>
      <div class="alert alert-success col-12" role="alert">
        Acesse o link que enviamos no email para concluir o procedimento. <br>
        (Não esqueça de olhar na Caixa de Spam)
      </div>
    <?php } ?>
    <?php if (isset($_GET['msg']) && $_GET['msg'] == 'erro') { ?>
      <div class="alert alert-danger col-12" role="alert">
        Nossos serviços estão enfrentando problemas. Por favor, tente mais tarde.
      </div>
    <?php } ?>
    <?php if (isset($_GET['msg']) && $_GET['msg'] == 'invalido') { ?>
      <div class="alert alert-warning col-12" role="alert">
        Link inválido. Tente novamente!
      </div>
    <?php } ?>
    <?php if (isset($_GET['msg']) && $_GET['msg'] == 'inexistente') { ?>
      <div class="alert alert-warning col-12" role="alert">
        Desculpe! O email informado não existe. Verifique e tente novamente.
      </div>
    <?php } ?>
    <?php if (isset($_GET['msg']) && $_GET['msg'] == 'recaptcha') { ?>
      <div class="alert alert-warning col-12" role="alert">
        Você ativou nosso sistema anti robôs. Atualize a página e tente novamente.
      </div>
    <?php } ?>
    <?php {
      $email = isset($_SESSION['email']) ? $_SESSION['email'] : '';
    } ?>

    <!-- Contact Form Area -->
    <div class="col-sm-12 ">
      <h4 class="mb-40">Alterar Senha</h4>

      <!-- Contact Form -->
      <div class="contact-form-area mb-100">
        <form action="/recuperarSenha" method="post">
          <div class="row">
            <div class="col-12">
              <input type="email" required class="form-control" name="email" value="<?=$email ?>" id="email" placeholder="Email da conta">
            </div>
            <input type="hidden" id="g-recaptcha-response" name="g-recaptcha-response">
          </div>

          <div class="row">
            <div class="col-lg-8 col-sm-12">
              <button class="btn egames-btn " type="submit">Enviar</button>
            </div>
          </div>
        </form>
      </div>
    </div>

  </div>
</section>
<!-- ##### Contact Area End ##### -->
<script src="https://www.google.com/recaptcha/api.js?render=6LfmIvYUAAAAAJIyCrtFdsJgKS9hcfLY2OGxmL4j"></script>
<script>
  (function getCaptcha() {
    grecaptcha.ready(function() {
      grecaptcha.execute('6LfmIvYUAAAAAJIyCrtFdsJgKS9hcfLY2OGxmL4j', {
        action: 'homepage'
      }).then(function(token) {
        const gRecaptchaResponse = document.querySelector("#g-recaptcha-response").value = token;
      });
    });
  }())
</script>