<!-- ##### Breadcrumb Area Start ##### -->
<section class="breadcrumb-area bg-img bg-overlay" style="background-image: url(img/bg-img/23-4.jpg);">
    <div class="container h-100">
        <div class="row h-100 align-items-center">
            <!-- Breadcrumb Text -->
            <div class="col-12">
                <div class="breadcrumb-text">
                    <h2>Regulamento</h2>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- ##### Breadcrumb Area End ##### -->

<!-- ##### Contact Area Start ##### -->
<section class="contact-area section-padding-100">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="row">
                    <div class="col-12">
                        <div class="contact-content mb-100">
                            <h1 style="text-align: center;" class="display-6">Como funciona?</h1>
                            <p>
                                <strong> Você tem amigos que compram jogos? Ou talvez você tenha uma comunidade de jogadores? Compartilhe seu link de afiliado com seu público e ganhe dinheiro se eles comprarem produtos na OnClick Games após sua recomendação.</strong> <br>
                                - Receba 8% do valor gasto pelo seu indicado. <br>
                                - Pagamentos serão realizados todos entre o primeiro e o sexto dia de cada mês. <br>
                                - R$ 20,00 é o preço mínimo para solicitar o recebimento do saldo. <br>
                            </p>


                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- ##### Breadcrumb Area Start ##### -->
<section class="breadcrumb-area bg-img bg-overlay" style="background-image: url(img/bg-img/23-1.webp);">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="row">
                    <div class="col-12">
                        <div class="contact-content mb-50 mt-50">
                            <a href="#" class="mb-50 d-block">
                                <div style="text-align: center;"> <img src="img/core-img/cash.png" width="80" alt=""></div>
                            </a>
                                <h1 style="text-align: center;" class="display-6">Pontos x Saldo</h1>
                                <p style="border-radius: 5px; border-color: white;">
                                    A cada compra que você fizer no nosso site, você receberá 10% do valor em Pontos OnClick, para que você possa trocar por outros jogos.

                                    A cada venda que você fizer como afiliado, você receberá 8% de comissão no seu Saldo, que podem ser resgatado quando você tiver o valor de, no mínimo R$20,00 na carteira. O Saldo também pode ser usado para inteirar os Pontos OnClick, caso você deseje trocar por um jogo novo.
                                </p>
                            

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- ##### Breadcrumb Area End ##### -->
<!-- ##### Contact Area Start ##### -->
<section class="contact-area section-padding-100">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="row">
                    <div class="col-12 col-lg-4">
                        <div class="contact-content mb-100">
                            <a href="#" class="mb-50 d-block"><img src="img/core-img/logo.png" alt=""></a>

                        </div>
                    </div>
                    <div class="col-12 col-lg-4">
                        <div class="contact-content mb-100">
                            <p>
                                <h5>OnClick Games</h5>
                                Revolucionar o mercado de games é a nossa principal <strong>Missão</strong>
                            </p>
                        </div>
                    </div>

                    <div class="col-12 col-lg-4">
                        <div class="contact-content mb-100">

                            <!-- Single Contact Info -->
                            <div class="single-contact-info d-flex align-items-center">
                                <div class="title">
                                    <p>Fone</p>
                                </div>
                                <p><i class="fa fa-whatsapp" aria-hidden="true"></i> (48) 988279192</p>
                            </div>

                            <!-- Single Contact Info -->
                            <div class="single-contact-info d-flex align-items-center">
                                <div class="title">
                                    <p>E-mail</p>
                                </div>
                                <p>support@onclickgames.com</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- ##### Contact Area End ##### -->