<!-- ##### Breadcrumb Area Start ##### -->
<section class="breadcrumb-area bg-img bg-overlay" style="background-image: url(img/bg-img/23.jpg);">
    <div class="container h-100">
        <div class="row h-100 align-items-center">
            <!-- Breadcrumb Text -->
            <div class="col-12">
                <div class="breadcrumb-text">
                    <h2>Sobre</h2>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- ##### Breadcrumb Area End ##### -->

<!-- ##### Contact Area Start ##### -->
<section class="contact-area section-padding-100">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="row">
                    <div class="col-12 col-lg-4">
                        <div class="contact-content mb-100">
                            <a href="#" class="mb-50 d-block">
                                <div style="text-align: center;"> <img src="img/core-img/cash.png" width="80" alt=""></div>
                            </a>
                            <p>A OnClick surgiu para resolver um problema comum a todos os gamers, independentemente da plataforma: <strong>Preço justo</strong>.</p>


                        </div>
                    </div>
                    <div class="col-12 col-lg-4">
                        <div class="contact-content mb-100">
                            <a href="#" class="mb-50 d-block">
                                <div style="text-align: center;"> <img src="img/core-img/options.png" width="80" alt=""></div>
                            </a>
                            <p>Oferecemos vários tipos de produtos e preços diferentes, para que você possa escolher o que mais lhe agrada. As informações vão estar contidas nos respectivos produtos.</p>


                        </div>
                    </div>
                    <div class="col-12 col-lg-4">
                        <div class="contact-content mb-100">
                            <a href="#" class="mb-50 d-block">
                                <div style="text-align: center;"> <img src="img/core-img/support.png" width="80" alt=""></div>
                            </a>
                            <p>Você resgata seu produto imediatamente e automaticamente após a compra, e ainda conta com um suporte total <strong>24h por dia</strong>.</p>


                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- ##### Breadcrumb Area Start ##### -->
<section class="breadcrumb-area bg-img bg-overlay" style="background-image: url(img/bg-img/23-1.webp);">
    <div class="container h-100">
        <div class="row h-100 align-items-center">

        </div>
    </div>
</section>
<!-- ##### Breadcrumb Area End ##### -->
<!-- ##### Contact Area Start ##### -->
<section class="contact-area section-padding-100">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="row">
                    <div class="col-12 col-lg-4">
                        <div class="contact-content mb-100">
                            <a href="#" class="mb-50 d-block"><img src="img/core-img/logo.png" alt=""></a>

                        </div>
                    </div>
                    <div class="col-12 col-lg-4">
                        <div class="contact-content mb-100">
                            <p>
                                <h5>OnClick Games</h5>
                                Revolucionar o mercado de games é a nossa principal <strong>Missão</strong>
                            </p>
                        </div>
                    </div>

                    <div class="col-12 col-lg-4">
                        <div class="contact-content mb-100">

                            <!-- Single Contact Info -->
                            <div class="single-contact-info d-flex align-items-center">
                                <div class="title">
                                    <p>Fone</p>
                                </div>
                                <p><i class="fa fa-whatsapp" aria-hidden="true"></i> (48) 988279192</p>
                            </div>

                            <!-- Single Contact Info -->
                            <div class="single-contact-info d-flex align-items-center">
                                <div class="title">
                                    <p>E-mail</p>
                                </div>
                                <p>support@onclickgames.com</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- ##### Contact Area End ##### -->