<div class="container">
  <div class="d-flex justify-content-center mt-5 mb-5">
    <div class="card" style="width: 36rem;">
      <div class="card-body">

        <div class="d-flex justify-content-center">
          <img src="img/core-img/logo.png?<?= time(); ?>" />
        </div>

        <div class="row">
          <div class="col">
            <h2>Conta Desativada</h2>
            <p>
               <span class="text text-danger">Caso isso seja um engano, entre em contato com a <a href="/contato">administração</a></span>.
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>