<div class="container mt-5 mb-5">
	<div class="row">
		<div class="col-md-8 col-lg-2">
		</div>
		<div class="col-md-8 col-sm-12 col-lg-8">
			<h4 class="mb-3">Meus dados</h4>
			<form action="atualizar_dados" method="post" enctype="multipart/form-data">

				<div style="height: auto;" class="perfilTopo py-1 px-2 mb-3">
					<img src="<?= $_SESSION['foto'] ?>" class="centered border border-dark mb-3" width="100px">
					<input class="choose centered"  onblur="verificaNome()" type="file" accept="image/jpeg, image/x-png, image/gif" name="fileToUpload" id="fileToUpload">

				</div>


				<div class="row">
					<div class="col-md-12 mb-3">
						<label for="primeiroNome">Nome</label>
						<input type="text" onkeyup="verificaNome()" minlength="3" maxlength="100" requided class="form-control" name="name" value="<?= $this->view->info_usuario['nome'] ?>" id="name" required="">
						<div class="invalid-feedback">
							Insira um nome válido.
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-md-12 mb-3">
						<label for="nickname">Nickname</label>
						<div class="input-group">
							<div class="input-group-prepend">
								<span class="input-group-text">@</span>
							</div>
							<input type="text" minlength="3" maxlength="20" onkeyup="verificaNome()"  value="<?= $this->view->info_usuario['nick'] ?>"  class="form-control" name="nickname" id="nickname" placeholder="Nickname" required="" >
							<div class="invalid-feedback" style="width: 100%;">
								Seu nickname é obrigatório.
							</div>
						</div>
						<div id="info"></div>

					</div>
				</div>
				<div class="mb-3">
					<label for="email">Email</label>
					<input type="email" class="form-control" readonly id="email" value="<?= $this->view->info_usuario['email'] ?>" placeholder="john@exemplo.com">
					<div class="invalid-feedback">
					</div>
				</div>

				<div class="row">
					<div class="col-6">
						<a class="text-right" href="/recuperarSenha">Alterar senha</a>
					</div>
				</div>

				<hr class="mb-4">
				<button id="enviaDadosPerfil" class="btn btn-primary btn-lg btn-block" disabled type="submit">Atualizar dados</button>
			</form>
		</div>
		<div class="col-md-2">
		</div>

	</div>
</div>