<div class="gifLoading"></div>
<div class="container mt-5">
	<div class="row pt-2">

		<div class="col-md-3">

			<div class="perfil">
				<div class="perfilTopo py-1 px-2">
					<img src="<?= $_SESSION['foto'] ?>" class="border border-dark" width="100px">
				</div>

				<div class="perfilPainel">
					<div class="row mt-2 mb-2">
						<div class="col mb-2">
							<span class="perfilPainelNome">
								Nome: <?= $this->view->info_usuario['nome'] . '<br>' ?>
								Email: <?= $this->view->info_usuario['email'] ?>
							</span>
						</div>
					</div>

					<div class="row mb-2">
						<div class="col">
							<span class="perfilPainelItem">Jogo(s)</span><br />
							<span class="perfilPainelItemValor">
								<?= $this->view->totalJogos ?>
							</span>
						</div>
					</div>
				</div>
			</div>

		</div>

		<div class="col-md-9">
			<?php if (isset($_GET['msg']) && $_GET['msg'] == 'pendente') { ?>
				<div class="alert alert-success col-12" role="alert">
					Você já possui um pagamento pendente deste jogo. Reimprima o boleto abaixo.
				</div>
			<?php } ?>

			<?php if (isset($_GET['comprovante']) && $_GET['comprovante'] == 'erro') { ?>
				<div class="alert alert-danger col-12" role="alert">
					Não foi possível enviar o comprovante.
				</div>
			<?php } ?>

			<?php if (isset($_GET['comprovante']) && $_GET['comprovante'] == 'success') { ?>
				<div class="alert alert-success col-12" role="alert">
					Obrigado pela compra!
				</div>
			<?php } ?>
			<!-- ##### Foreach Start ##### -->
			<?php foreach ($this->view->vendasPendentes as $id_venda => $venda) { ?>
				<div class="card mb-2">
					<div class="card-header">
						<div class="row">
							<img src="<?= $this->view->caminho . $venda['img_icone'] ?>" width="80" class="ml-2 mr-5">
							<h4 class="post-title"><?= $venda['nome_jogo'] ?> - <?= $venda['plataforma'] ?></h4>
							<div class="col text-right">

								<button class="btn btn-warning">Pagamento Pendente</button>

							</div>
						</div>
					</div>
					<div class="card-body">
						<div class="row">
							<div class="col-6">
								<div class="post-details-content mb-20">
									<div class="blog-content">
										<h4 class="post-title"></h4>
										<div class="post-meta mb-30">


											<p><strong>Usário da Conta:</strong> <mark>*************</mark></p>
											<p><strong>Senha da Conta:</strong> <mark>*************</mark></p>
											<p><strong>Data da compra: </strong><?= $venda['data'] ?></p>
											<hr>
											<br>
										</div>
									</div>
								</div>
							</div>
							<div class="col-6 text-center">
								<h5 class="post-title">Não quer esperar?</h5>
								<h6> Se já fez o pagamento envie-nos o comprovante aqui, e libere seu acesso em poucos minutos </h6>
								<hr>
								<div class="mb-5">
									<a href="<?= $venda['link_boleto'] ?>" target="_blank">Imprimir Boleto</a>
								</div>
								<hr>
								<div class="upload">
									<form id="formFiles" name="formFiles" action="javascript:void(0);" enctype="multipart/form-data">
										Selecione o recibo

										<input name="afiliado" type="hidden" value="<?= $venda['afiliado'] ?>" />
										<input name="id" type="hidden" value="<?= $venda['id_venda'] ?>" />
										<input name="nome_jogo" type="hidden" value="<?= $venda['nome_jogo'] ?>" />
										<div class="uploadRecibo">
											<input type="file" required accept="image/jpeg, image/x-png, application/pdf" name="fileToUpload" id="fileToUpload" />
										</div>

										<input type="submit" value="Enviar" class="uploadComprovante" name="submit">
									</form>
									<div id="return"></div>
									<div id="progressBar">
										<span></span>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			<?php } ?>
			<!-- ##### Foreach end ##### -->
			<!-- ##### Foreach Start ##### -->
			<?php foreach ($this->view->vendasPendentesEpic  as $id_venda => $venda) { ?>
				<div class="card mb-2">
					<div class="card-header">
						<div class="row">
							<img src="<?= $this->view->caminho . $venda['img_icone'] ?>" width="80" class="ml-2 mr-5">
							<h4 class="post-title"><?= $venda['nome_jogo'] ?> - <?= $venda['plataforma'] ?></h4>
							<div class="col text-right">

								<button class="btn btn-warning">Pagamento Pendente</button>

							</div>
						</div>
					</div>
					<div class="card-body">
						<div class="row">
							<div class="col-6">
								<div class="post-details-content mb-20">
									<div class="blog-content">
										<h4 class="post-title"></h4>
										<div class="post-meta mb-30">


											<p><strong>Usário da Conta:</strong> <mark>*************</mark></p>
											<p><strong>Senha da Conta:</strong> <mark>*************</mark></p>
											<p><strong>Data da compra: </strong><?= $venda['data'] ?></p>
											<hr>
											<br>
										</div>
									</div>
								</div>
							</div>
							<div class="col-6 text-center">
								<h5 class="post-title">Não quer esperar?</h5>
								<h6> Se já fez o pagamento envie-nos o comprovante aqui, e libere seu acesso em poucos minutos </h6>
								<hr>
								<div class="mb-5">
									<a href="<?= $venda['link_boleto'] ?>" target="_blank">Imprimir Boleto</a>
								</div>
								<hr>
								<div class="upload">
									<form id="formFiles" name="formFiles" action="javascript:void(0);" enctype="multipart/form-data">
										Selecione o recibo

										<input name="afiliado" type="hidden" value="<?= $venda['afiliado'] ?>" />
										<input name="id" type="hidden" value="<?= $venda['id_venda'] ?>" />
										<input name="nome_jogo" type="hidden" value="<?= $venda['nome_jogo'] ?>" />
										<div class="uploadRecibo">
											<input type="file" required accept="image/jpeg, image/x-png, application/pdf" name="fileToUpload" id="fileToUpload" />
										</div>

										<input type="submit" value="Enviar" class="uploadComprovante" name="submit">
									</form>
									<div id="return"></div>
									<div id="progressBar">
										<span></span>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			<?php } ?>
			<!-- ##### Foreach end ##### -->

			<!-- ##### Foreach Start ##### -->
			<?php foreach ($this->view->vendasEpic as $id_venda => $venda) { ?>
				<div class="card mb-2">
					<div class="card-header">
						<div class="row">
							<img src="<?= $this->view->caminho . $venda['img_icone'] ?>" width="80" class="ml-2 mr-5">
							<h4 class="post-title"><?= $venda['nome_jogo'] ?> - <?= $venda['plataforma'] ?></h4>
							<div class="col text-right">

								<button value="<?= $venda['id_venda'] ?>" id="code" class="btn btn-warning btn-steamguard">Solicitar novo Código</button>

							</div>
						</div>
					</div>
					<div class="card-body">
						<div class="row">
							<div class="col-6">
								<div class="post-details-content mb-20">
									<div class="blog-content">
										<h4 class="post-title"></h4>
										<div class="post-meta mb-30">


											<p><strong>Usário da Conta:</strong> <mark><?= $venda['usuario_conta'] ?></mark></p>
											<p><strong>Senha da Conta:</strong> <mark><?= $venda['senha_conta'] ?></mark></p>
											<p><strong>Data da compra: </strong><?= $venda['data'] ?></p>
											<hr>
											<button data-toggle="modal" data-target="#instalacaoJogosEpic" style="white-space: normal" class="btn btn-success mb-2" type="button" >Tutorial em PDF</button>
											<br>
											<a href="https://www.youtube.com/watch?v=XBxKxqEOk6o"><button style="white-space: normal" class="btn btn-primary" type="button" >Tutorial em vídeo</button></a>
										</div>
									</div>
								</div>
							</div>
							<div class="col-6 text-center">
								<h1 class="post-title">Seu novo código: <span class="<?= $venda['id_venda'] ?> border p-1"><?= $venda['ultimo_cod'] ?></span> </h1>
								<small>Você pode solicitar o código mais <span class="bg-warning font-weight-bold ">&nbsp<?= $venda['limite_cod'] ?>&nbsp</span> vez esse mês </small>

								<hr>
								<h5 class="post-title">Seu último código: <?= $venda['penultimo_cod'] ?></h5>
								<span><?= $venda['data_ultimo_cod'] ?></span>
							</div>
						</div>
					</div>
				</div>
			<?php } ?>
			<!-- ##### Foreach end ##### -->
			<!-- ##### Foreach Start ##### -->
			<?php foreach ($this->view->vendas as $id_venda => $venda) { ?>
				<div class="card mb-2">
					<div class="card-header">
						<div class="row">
							<img src="<?= $this->view->caminho . $venda['img_icone'] ?>" width="80" class="ml-2 mr-5">
							<h4 class="post-title"><?= $venda['nome_jogo'] ?> - <?= $venda['plataforma'] ?></h4>
							<div class="col text-right">

								<button value="<?= $venda['id_venda'] ?>" id="code" class="btn btn-warning btn-steamguard">Solicitar novo Código</button>

							</div>
						</div>
					</div>
					<div class="card-body">
						<div class="row">
							<div class="col-6">
								<div class="post-details-content mb-20">
									<div class="blog-content">
										<h4 class="post-title"></h4>
										<div class="post-meta mb-30">


											<p><strong>Usário da Conta:</strong> <mark><?= $venda['usuario_conta'] ?></mark></p>
											<p><strong>Senha da Conta:</strong> <mark><?= $venda['senha_conta'] ?></mark></p>
											<p><strong>Data da compra: </strong><?= $venda['data'] ?></p>
											<hr>
											
											<button data-toggle="modal" data-target="#instalacaoJogosSteam" style="white-space: normal" class="btn btn-success mb-2" type="button" >Tutorial em PDF</button>
											<br>
											<a href="https://www.youtube.com/watch?v=97kk7h4KZm4"><button style="white-space: normal" class="btn btn-primary" type="button" >Tutorial em vídeo</button></a>
										</div>
									</div>
								</div>
							</div>
							<div class="col-6 text-center">
							<h1 class="post-title">Seu novo código: <span class="<?= $venda['id_venda'] ?> border p-1"><?= $venda['ultimo_cod'] ?></span> </h1>
								
								<small>Você pode solicitar o código mais <span class="bg-warning font-weight-bold ">&nbsp<?= $venda['limite_cod'] ?>&nbsp</span> vez esse mês </small>

								<hr>
								<h5 class="post-title">Seu último código: <?= $venda['penultimo_cod'] ?></h5>
								<span><?= $venda['data_ultimo_cod'] ?></span>
							</div>
						</div>
					</div>
				</div>
			<?php } ?>
			<!-- ##### Foreach end ##### -->
		</div>
	</div>
</div>

<!-- Modal Steam -->
<div class="modal fade" id="instalacaoJogosSteam" tabindex="-1" role="dialog" aria-labelledby="instalacaoSteam" aria-hidden="true">
    <div style="  width: 100%;  height: 100%; padding: 0;" class="modal-dialog modal-lg" role="document">
        <div style="height: 100%; border-radius: 0;" class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="instalacaoSteam">Instalação de jogos Steam</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <iframe src="pdfs/instalacaoSteam.pdf" width="600" height="780" style="position: absolute;top: 66px;bottom: 0px;right: 0px;width: 100%;border: none;margin: 0;padding: 0;overflow: hidden;z-index: 3;height: 100%;"></iframe>
        </div>
    </div>
</div>

<!-- Modal Epic -->
<div class="modal fade" id="instalacaoJogosEpic" tabindex="-1" role="dialog" aria-labelledby="instalacaoEpic" aria-hidden="true">
    <div style="  width: 100%;  height: 100%; padding: 0;" class="modal-dialog modal-lg" role="document">
        <div style="height: 100%; border-radius: 0;" class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="instalacaoEpic">Instalação de jogos Epic</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <iframe src="pdfs/instalacaoEpic.pdf" width="600" height="780" style="position: absolute;top: 66px;bottom: 0px;right: 0px;width: 100%;border: none;margin: 0;padding: 0;overflow: hidden;z-index: 3;height: 100%;"></iframe>
        </div>
    </div>
</div>