<div class="container">
    <div class="py-5 text-center">
        <h2>Página de Pagamento</h2>

        <p class="lead"></p>
    </div>
    <?php if (isset($this->view->producao) && $this->view->producao == 0) { ?>
        <div class="row">
            <div class="alert alert-warning col-12" role="alert">
                Esta compra é uma simulação. Não refletirá uma transação real
            </div>
        </div>
    <?php } ?>



    <div class="row">
        <div class="col-md-4 order-md-2 mb-4">
            <h4 class="d-flex justify-content-between align-items-center mb-3">
                <span class="text-muted">Seu carrinho</span>
                <span class="badge badge-secondary badge-pill">1 item</span>
            </h4>
            <ul class="list-group mb-3">
                <li class="list-group-item d-flex justify-content-between lh-condensed">
                    <div>
                        <h6 class="my-0">Produto:</h6>
                        <small class="text-muted"><?= $this->view->games[0]['nome_jogo'] ?></small>
                    </div>
                    <span class="text-muted">R$ <?= str_replace('.', ',', $this->view->games[0]['valor']) ?></span>
                </li>
                <!-- <li class="list-group-item d-flex justify-content-between">
                    <span>Desconto (R$)</span>
                    <strong>R$ 00,00</strong>
                </li> -->
                <li class="list-group-item d-flex justify-content-between">
                    <span>Total (R$)</span>
                    <strong>R$ <?= number_format((float)$_SESSION['total'], 2, ',', '') ?></strong>
                </li>
                <?php if (isset($this->view->afiliado) && $this->view->afiliado == 'sucesso') { ?>
                    <div class="row">
                        <div class="col">
                            <span class="text text-success">Legal! Você está comprando com um link de afiliado.</span>
                        </div>
                    </div>
                <?php } ?>
                <?php if (isset($this->view->afiliado)  && $this->view->afiliado == 'erro') { ?>
                    <div class="row">
                        <div class="col">
                            <span class="text text-danger">Você não pode comprar pelo seu proprio link.</span>
                        </div>
                    </div>
                <?php } ?>
                <hr>

                <span>Possui um Cupom de desconto?</span>
                <li class="list-group-item d-flex justify-content-between">
                    <input type="text" class="form-control" id="cupom" name="cupom" />&nbsp;
                    <button id="aplicar" class="btn btn-primary btn-sm btn-block btn-aplicar" type="submit">
                        APLICAR
                    </button>
                </li>

                <?php if (isset($_GET['cupom']) && $_GET['cupom'] == 'success') { ?>

                    <small class="form-text text-success">Cupom aplicado</small>

                <?php } ?>
                <?php if (isset($_GET['cupom']) && $_GET['cupom'] == 'invalido') { ?>

                    <small class="form-text text-danger">Cupom inválido</small>

                <?php } ?>
                <?php if (isset($_GET['cupom']) && $_GET['cupom'] == 'restrito') { ?>

                    <small class="form-text text-danger">Cupom não contempla este produto</small>

                <?php } ?>
                <li class="list-group-item d-flex justify-content-between">
                    <img src="img/core-img/mercadopago-certificado.png" alt="Certificado">
                </li>

            </ul>
        </div>


        <input type="hidden" id="publicKey" value="<?= $this->view->key ?>">

        <div class="col-md-8 order-md-1">
            <h4 class="mb-3">Pagamento com Cartão de Crédito</h4>
            <form action="/processar_pagamento" method="post" id="pay" name="pay">
                <input type="hidden" name="description" id="description" value="<?= $this->view->games[0]['nome_jogo'] ?>" />
                <input type="hidden" name="amount" id="amount" value="<?= $_SESSION['total'] ?>" />
                <input type="hidden" name="email" id="email" value="<?= $_SESSION['email'] ?>">
                <input type="hidden" name="paymentMethodId" id="paymentMethodId" />
                <input type="hidden" id="docType" data-checkout="docType" value="CPF">

                <div class="row">
                    <div class="col-md-12 mb-3">
                        <label for="cardholderName">Nome e sobrenome</label>
                        <input type="text" autocomplete="off" required class="form-control" id="cardholderName" data-checkout="cardholderName" />
                        <div class="invalid-feedback ">
                            Digite um nome válido.
                        </div>
                    </div>

                </div>

                <div class="row">
                    <div class="col-md-6 mb-3">
                        <label for="cardNumber">Número do Cartão</label>
                        <input type="text" autocomplete="off" required class="form-control" id="cardNumber" minlength="16" data-checkout="cardNumber" onselectstart="return false" onpaste="return false" onCopy="return false" onCut="return false" onDrag="return false" onDrop="return false" autocomplete=off />
                        <div class="brand"></div>
                        <div class="invalid-feedback">
                            Insira um número válido
                        </div>
                    </div>
                    <div class="col-md-6 mb-3">
                        <label for="number">Código de segurança</label>
                        <input type="text" autocomplete="off" required class="form-control" id="securityCode" minlength="3" data-checkout="securityCode" onselectstart="return false" onpaste="return false" onCopy="return false" onCut="return false" onDrag="return false" onDrop="return false" autocomplete=off />
                        <div class="invalid-feedback">
                            Por favor, digite um dado válido
                        </div>
                    </div>
                    <div class="col-md-6 mb-3">
                        <label for="bairro">Mês de vencimento</label>
                        <input type="text" autocomplete="off" required class="form-control" id="cardExpirationMonth" minlength="2" data-checkout="cardExpirationMonth" onselectstart="return false" onpaste="return false" onCopy="return false" onCut="return false" onDrag="return false" onDrop="return false" autocomplete=off />
                        <div class="invalid-feedback">
                            Por favor, digite um mês válido
                        </div>
                    </div>


                    <div class="col-md-6 mb-3">
                        <label for="street">Ano de vencimento</label>
                        <input type="text" autocomplete="off" required class="form-control" id="cardExpirationYear" minlength="4" data-checkout="cardExpirationYear" onselectstart="return false" onpaste="return false" onCopy="return false" onCut="return false" onDrag="return false" onDrop="return false" autocomplete=off />
                        <div class="invalid-feedback">
                            Por favor, digite um ano válido
                        </div>
                    </div>

                    <div class="col-md-6 mb-3">
                        <label for="installments">Parcelas</label>
                        <select class="custom-select d-block w-100" id="installments" name="installments"></select>
                    </div>


                    <div class="col-md-6 mb-3">
                        <label for="street">CPF</label>
                        <input type="text" autocomplete="off" required class="form-control" minlength="11" id="docNumber" data-checkout="docNumber" />
                        <div class="invalid-feedback">
                            Por favor, digite um CPF válido
                        </div>
                    </div>
                </div>

                <hr class="mb-4">
                <button id="btnSalvar" class="btn btn-primary btn-lg btn-block mb-3" type="submit"><span class="text-white pr-3">
                        <i class="fa fa-paper-plane" aria-hidden="true"></i></span>Finalizar Pedido
                </button>
            </form>

            <h6 class="text-center" for="street">OU</h6>

            <?php $totalBoleto = $_SESSION['total'] + 3?>
            <small class="form-text text-danger">Total de <?= number_format((float)$totalBoleto, 2, ',', '')?> no boleto</small>
            <button id="btnPagamentoBoleto" class="btn btn-success btn-lg btn-block mb-3" data-toggle="modal" data-target="#pagamentoBoleto">
                <span class="text-white pr-3"><i class="fa fa-paper-plane" aria-hidden="true"></i></span>Pagar com Boleto
            </button>

        </div>
    </div>
</div>

<!-- Modal Boleto -->
<div class="modal fade" id="pagamentoBoleto" tabindex="1" role="dialog" aria-labelledby="termosTitle" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="termosTitle">Atenção!</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <p>
                  O pagamento em boleto tem um acréscimo de <mark>R$ 3,00</mark> no valor total.
                </p>
            </div>

            <div class="modal-footer">
                <a href="/processar_pagamento_boleto">
                
                    <button class="btn btn-success" id="btnAceitarProsseguir" type="submit">Eu entendi</button>
                </a>
            </div>
        </div>
    </div>
</div>