<div class="result">
  
    <section class="contact-area section-padding-100">
        <div class="container">
            <?php if (isset($this->view->exception)) { ?>
                <div class="alert alert-success col-12" role="alert">
                <?= $this->view->exception ?> <a href="/meus_jogos" target="_blank">Ver meus Jogos</a>
                </div>
            <?php } ?>

            <?php if (isset($_SESSION['boleto'])) { ?>
                <div class="alert alert-success col-12" role="alert">
                    Falta pouco para o caminho da diversão. <a href="<?= $_SESSION['boleto'] ?>" target="_blank">Visualizar Boleto</a>
                </div>
            <?php } ?>
        </div>
    </section>
</div>