<div class="container mt-5">
	<div class="row pt-2">

		<div class="col-md-3">

			<div class="perfil">
				<div class="perfilTopo py-1 px-2">
					<img src="img/bg-img/semfoto.jpg" class="border border-dark" width="100px">
				</div>

				<div class="perfilPainel">
					<div class="row mt-2 mb-2">
						<div class="col mb-2">
							<span class="perfilPainelNome">
								Nome: <?= $this->view->info_usuario['nome'] . '<br>' ?>
								Email: <?= $this->view->info_usuario['email'] ?>
								Nivel: <?= $this->view->info_usuario['nivel'] ?>
							</span>
						</div>
					</div>

					<div class="row mb-2">
						<div class="col">
							<span class="perfilPainelItem">Jogos</span><br />
							<span class="perfilPainelItemValor">
								<?= $this->view->total_tweets['total_tweet'] ?>
							</span>
						</div>
					</div>

				</div>
			</div>

		</div>

		<div class="col-md-9">
			<div class="card">
				<div class="card-header">
					<div class="row">
						<img src="img/bg-img/rdr2.jpg" width="80" class="ml-2 mr-5">
						<h4 class="post-title">Red Dead Redemption 2</h4>
						<div class="col text-right">
							<button class="btn btn-warning">Solicitar novo Código</button>
						</div>
					</div>
				</div>
				<div class="card-body">
					<div class="row">
						<div class="col-6">
							<div class="post-details-content mb-20">
								<div class="blog-content">
									<h4 class="post-title"></h4>
									<div class="post-meta mb-30">
										<a href="#" class="post-date">12/03/2020</a>
										<br>sdasds
										<a href="#" class="post-author">By Admin</a>
										<a href="#" class="post-comments">2 Comments</a>
									</div>
								</div>
							</div>
						</div>
						<div class="col-6 text-center">
						<h1 class="post-title">Seu novo código: YWU85</h1>
						<hr>
						<h5 class="post-title">Seu último código: HDXD4</h5>
						<span>22/04/2020</span>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>