<div class="container">
  <div class="d-flex justify-content-center mt-5 mb-5">
    <div class="card" style="width: 36rem;">
      <div class="card-body">

        <div class="d-flex justify-content-center">
          <img src="img/core-img/logo.png?<?= time(); ?>" />
        </div>

        <div class="row">
          <div class="col">
            <h2>Ative sua conta no email</h2>
            <p>
              Para continuar, você precisa ativar sua conta no seu endereço de email: <h6><?= $_SESSION['email'] ?></h6> <br>
              Não esqueça de verificar na Caixa de Spam.<br>
              <span class="text text-danger">*Contas Gmail demoram até 4 minutos para receber o primeiro email</span>
            </p>
          </div>
        </div>
        <div class="h6 mb-4">Você receberá o email em até <mark style="background-color: #20D8DA;" id="time">04:00</mark><br>
        </div>
        <div class="row">
          <div class="col">
            <a href="/verificarEmail?sent=false" id="reenviar" class="btn btn-primary btn-block">Não recebeu? Clique aqui para reenviar</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<script>
  function startTimer(duration, display) {

var timer = duration, minutes, seconds;

setInterval(function () {

    minutes = parseInt(timer / 60, 10)

    seconds = parseInt(timer % 60, 10);

    minutes = minutes < 10 ? "0" + minutes : minutes;

    seconds = seconds < 10 ? "0" + seconds : seconds;

    display.textContent = minutes + ":" + seconds;

    if (--timer < 0) {
        timer = duration;
        document.getElementById("reenviar").disabled = false;
    }
}, 1000);

}

  window.onload = function() {
    document.getElementById("reenviar").disabled = true;
    var fiveMinutes = 60 * 4,

      display = document.querySelector('#time');

    startTimer(fiveMinutes, display);

  };
</script>