<html>

<head>
    <meta charset="UTF-8">
    <meta name="description" content="">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- The above 4 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <!-- Title -->
    <title>Onclick Games - Os melhores jogos</title>

    <!-- Favicon -->
    <link rel="icon" href="img/core-img/favicon.ico">

    <!-- Stylesheet -->
    <link rel="stylesheet" href="style.css?<?= time(); ?>">
    <!-- Global site tag (gtag.js) - Google Analytics
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-154136808-3"></script>
    <script>
        window.dataLayer = window.dataLayer || [];

        function gtag() {
            dataLayer.push(arguments);
        }
        gtag('js', new Date());

        gtag('config', 'UA-154136808-3');
    </script> -->
        <!-- Facebook Pixel Code 
        <script>
        ! function(f, b, e, v, n, t, s) {
            if (f.fbq) return;
            n = f.fbq = function() {
                n.callMethod ?
                    n.callMethod.apply(n, arguments) : n.queue.push(arguments)
            };
            if (!f._fbq) f._fbq = n;
            n.push = n;
            n.loaded = !0;
            n.version = '2.0';
            n.queue = [];
            t = b.createElement(e);
            t.async = !0;
            t.src = v;
            s = b.getElementsByTagName(e)[0];
            s.parentNode.insertBefore(t, s)
        }(window, document, 'script',
            'https://connect.facebook.net/en_US/fbevents.js');
        fbq('init', '1279601442431803');
        fbq('track', 'PageView');
    </script>
    <noscript><img height="1" width="1" style="display:none" src="https://www.facebook.com/tr?id=1279601442431803&ev=PageView&noscript=1" /></noscript>
    -->

</head>

<body>
    <!-- Preloader -->
    <div class="preloader d-flex align-items-center justify-content-center">
        <div class="spinner">
            <div class="bounce1"></div>
            <div class="bounce2"></div>
            <div class="bounce3"></div>
        </div>
    </div>

    <?php if (!isset($_SESSION['id'])) { ?>
        <header class="header-area wow fadeInDown" data-wow-delay="500ms">
            <!-- Top Header Area -->
            <div class="top-header-area">
                <div class="container h-100">
                    <div class="row h-100 align-items-center">
                        <div class="col-12 d-flex align-items-center justify-content-between">
                            <!-- Logo Area -->
                            <div class="logo">
                                <a href="/"><img src="img/core-img/logo.png?<?= time(); ?>" alt=""></a>
                            </div>

                            <!-- Search & Login Area -->
                            <div class="search-login-area d-flex align-items-center">
                                <!-- Top Search Area -->
                                <div class="top-search-area">
                                    <form action="/loja" method="get">
                                        <input type="text" name="search" id="search" placeholder="Procurar">
                                        <button type="submit" class="btn"><i class="fa fa-search"></i></button>
                                    </form>
                                </div>
                                <!-- Login Area -->

                                <div class="login-area">
                                    <a href="/entrar"><span>Login/Registrar</span> <i class="fa fa-lock" aria-hidden="true"></i></a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Navbar Area -->
            <div class="egames-main-menu" id="sticker">
                <div class="classy-nav-container breakpoint-off">
                    <div class="container">
                        <!-- Menu -->
                        <nav class="classy-navbar justify-content-between" id="egamesNav">

                            <!-- Navbar Toggler -->
                            <div class="classy-navbar-toggler">
                                <span class="navbarToggler"><span></span><span></span><span></span></span>
                            </div>

                            <!-- Menu -->
                            <div class="classy-menu">

                                <!-- Close Button -->
                                <div class="classycloseIcon">
                                    <div class="cross-wrap"><span class="top"></span><span class="bottom"></span></div>
                                </div>

                                <!-- Nav Start -->
                                <div class="classynav">
                                    <ul>
                                        <li><a href="/">Home</a></li>
                                        <li><a href="/loja">Games</a></li>
                                        <li><a href="/sobre">Sobre</a></li>
                                        <li><a href="/contato">Contato</a></li>
                                    </ul>
                                </div>
                                <!-- Nav End -->
                            </div>

                            <!-- Top Social Info -->
                            <div class="top-social-info">
                                <a href="https://www.facebook.com/OnClick-Games-107593114302056" data-toggle="tooltip" data-placement="top" title="Facebook"><i class="fa fa-facebook" aria-hidden="true"></i></a>
                                <a href="https://www.instagram.com/onclickgames_/" data-toggle="tooltip" data-placement="top" title="Instagram"><i class="fa fa-instagram" aria-hidden="true"></i></a>
                            </div>
                        </nav>
                    </div>
                </div>
            </div>
        </header>
        <!-- ##### Header Area End ##### -->
    <?php } ?>

    <?php if (isset($_SESSION['id']) && $_SESSION['nivel'] == '0') { ?>

        <!-- ##### Header Area Start ##### -->
        <header class="header-area wow fadeInDown" data-wow-delay="500ms">
            <!-- Top Header Area -->
            <div class="top-header-area">
                <div class="container h-100">
                    <div class="row h-100 align-items-center">
                        <div class="col-12 d-flex align-items-center justify-content-between">
                            <!-- Logo Area -->
                            <div class="logo">
                                <a href="/"><img src="img/core-img/logo.png?<?= time(); ?>" alt=""></a>
                            </div>

                            <!-- Search & Login Area -->
                            <div class="search-login-area d-flex align-items-center">
                                <!-- Top Search Area -->
                                <div class="top-search-area">
                                    <form action="/loja" method="get">
                                        <input type="text" name="search" id="search" placeholder="Procurar">
                                        <button type="submit" class="btn"><i class="fa fa-search"></i></button>
                                    </form>
                                </div>
                                <!-- Login Area -->

                                <div class="login-area">
                                    <a href="/sair"><span>Sair</span> <i class="fa fa-lock" aria-hidden="true"></i></a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Navbar Area -->
            <div class="egames-main-menu" id="sticker">
                <div class="classy-nav-container breakpoint-off">
                    <div class="container">
                        <!-- Menu -->
                        <nav class="classy-navbar justify-content-between" id="egamesNav">

                            <!-- Navbar Toggler -->
                            <div class="classy-navbar-toggler">
                                <span class="navbarToggler"><span></span><span></span><span></span></span>
                            </div>

                            <!-- Menu -->
                            <div class="classy-menu">

                                <!-- Close Button -->
                                <div class="classycloseIcon">
                                    <div class="cross-wrap"><span class="top"></span><span class="bottom"></span></div>
                                </div>

                                <!-- Nav Start -->
                                <div class="classynav">
                                    <ul>
                                        <li><a href="/">Home</a></li>
                                        <li><a href="/loja">Games</a></li>
                                        <li><a href="/meus_jogos">Meus Jogos</a></li>
                                        <li><a href="/meu_perfil">Meu Perfil</a></li>
                                        <li><a href="/contato">Contato</a></li>
                                    </ul>
                                </div>
                                <!-- Nav End -->
                            </div>

                            <!-- Top Social Info -->
                            <div class="top-social-info">
                                <?= 'Olá, ' . $_SESSION['nome'] ?> | <?='Pontos: '. $_SESSION['pontos'] ?> | <?='Saldo: '. $_SESSION['saldo'] ?>
                            </div>
                        </nav>
                    </div>
                </div>
            </div>
        </header>
        <!-- ##### Header Area End ##### -->
    <?php } ?>

    <?php if (isset($_SESSION['id']) && $_SESSION['nivel'] == '1') { ?>
        <!-- ##### Header Area Start ##### -->
        <header class="header-area wow fadeInDown" data-wow-delay="500ms">
            <!-- Top Header Area -->
            <div class="top-header-area">
                <div class="container h-100">
                    <div class="row h-100 align-items-center">
                        <div class="col-12 d-flex align-items-center justify-content-between">
                            <!-- Logo Area -->
                            <div class="logo">
                                <a href="/"><img src="img/core-img/logo.png?<?= time(); ?>" alt=""></a>
                            </div>

                            <!-- Search & Login Area -->
                            <div class="search-login-area d-flex align-items-center">
                                <!-- Top Search Area -->
                                <div class="top-search-area">
                                    <form action="/loja" method="get">
                                        <input type="text" name="search" id="search" placeholder="Procurar">
                                        <button type="submit" class="btn"><i class="fa fa-search"></i></button>
                                    </form>
                                </div>
                                <!-- Login Area -->

                                <div class="login-area">
                                    <a href="/sair"><span>Sair</span> <i class="fa fa-lock" aria-hidden="true"></i></a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Navbar Area -->
            <div class="egames-main-menu" id="sticker">
                <div class="classy-nav-container breakpoint-off">
                    <div class="container">
                        <!-- Menu -->
                        <nav class="classy-navbar justify-content-between" id="egamesNav">

                            <!-- Navbar Toggler -->
                            <div class="classy-navbar-toggler">
                                <span class="navbarToggler"><span></span><span></span><span></span></span>
                            </div>

                            <!-- Menu -->
                            <div class="classy-menu">

                                <!-- Close Button -->
                                <div class="classycloseIcon">
                                    <div class="cross-wrap"><span class="top"></span><span class="bottom"></span></div>
                                </div>

                                <!-- Nav Start -->
                                <div class="classynav">
                                    <ul>
                                        <li><a href="/">Home</a></li>
                                        <li><a href="/loja">Games</a></li>
                                        <li><a href="/meus_jogos">Meus Jogos</a></li>
                                        <li><a href="/meu_perfil">Meu Perfil</a></li>
                                        <li><a href="/contato">Contato</a></li>
                                    </ul>
                                </div>
                                <!-- Nav End -->
                            </div>

                            <!-- Top Social Info -->
                            <div class="top-social-info">
                            <?= 'Olá, ' . $_SESSION['nome'] ?> | <?='Pontos: '. $_SESSION['pontos'] ?>  | <?='Saldo: '. $_SESSION['saldo'] ?>  <i class="fa fa-money" aria-hidden="true"></i>
                            </div>
                        </nav>
                    </div>
                </div>
            </div>
        </header>
        <!-- ##### Header Area End ##### -->
    <?php }  ?>

    <?php if (isset($_SESSION['id']) && $_SESSION['nivel'] == '2') { ?>
        <!-- ##### Header Area Start ##### -->
        <header class="header-area wow fadeInDown" data-wow-delay="500ms">
            <!-- Top Header Area -->
            <div class="top-header-area">
                <div class="container h-100">
                    <div class="row h-100 align-items-center">
                        <div class="col-12 d-flex align-items-center justify-content-between">
                            <!-- Logo Area -->
                            <div class="logo">
                                <a href="/"><img src="img/core-img/logo.png?<?= time(); ?>" alt=""></a>
                            </div>

                            <!-- Search & Login Area -->
                            <div class="search-login-area d-flex align-items-center">
                                <!-- Login Area -->

                                <div class="login-area">
                                    <a href="/sair"><span>Sair</span> <i class="fa fa-lock" aria-hidden="true"></i></a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Navbar Area -->
            <div class="egames-main-menu" id="sticker">
                <div class="classy-nav-container breakpoint-off">
                    <div class="container">
                        <!-- Menu -->
                        <nav class="classy-navbar justify-content-between" id="egamesNav">

                            <!-- Navbar Toggler -->
                            <div class="classy-navbar-toggler">
                                <span class="navbarToggler"><span></span><span></span><span></span></span>
                            </div>

                            <!-- Menu -->
                            <div class="classy-menu">

                                <!-- Close Button -->
                                <div class="classycloseIcon">
                                    <div class="cross-wrap"><span class="top"></span><span class="bottom"></span></div>
                                </div>

                                <!-- Nav Start -->
                                <div class="classynav">
                                    <ul>
                                        <li><a href="/">Home</a></li>
                                        <li><a href="/adm_jogos">Jogos</a></li>
                                        <li><a href="/adm_usuarios">Usuários</a></li>
                                        <li><a href="/adm_contas">Contas</a></li>
                                        <li><a href="/adm_vendas">Vendas</a></li>
                                        <li><a href="/adm_vendas">Emails</a></li>
                                    </ul>
                                </div>
                                <!-- Nav End -->
                            </div>

                            <!-- Top Social Info -->
                            <div class="top-social-info">
                                <?= 'Olá, ' . $_SESSION['nome'] ?>
                            </div>
                        </nav>
                    </div>
                </div>
            </div>
        </header>
        <!-- ##### Header Area End ##### -->
    <?php }  ?>




    <?= $this->content() ?>


    <!-- ##### Footer Area Start ##### -->
    <footer class="footer-area">
        <!-- Copywrite Area -->
        <div class="copywrite-content">
            <div class="container">
                <div class="row align-items-center">
                    <div class="col-6 col-sm-6">
                        <!-- Copywrite Text -->
                        <p class="copywrite-text"><a href="#">
                                Copyright &copy;<script>
                                    document.write(new Date().getFullYear());
                                </script> Todos os direitos reservados
                        </p>
                    </div>
                    <div class="col-6 col-sm-6">
                        <!-- Footer Nav -->
                        <div class="footer-nav">
                            <ul>
                                <li><a href="/sobre">Quem Somos</a></li>
                                <li><a href="contato">Contato</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        </div>
    </footer>
    <!-- ##### Footer Area End ##### -->
    <!-- ##### All Javascript Script ##### -->
    <!-- jQuery-2.2.4 js -->
    <script src="js/jquery/jquery-2.2.4.min.js"></script>
    <!-- Popper js -->
    <script src="js/bootstrap/popper.min.js"></script>
    <!-- Bootstrap js -->
    <script src="js/bootstrap/bootstrap.min.js"></script>
    <!-- All Plugins js -->
    <script src="js/plugins/plugins.js"></script>
    <!-- Active js -->
    <script src="js/active.js"></script>
    <!-- Mercado Pago js -->
    <script src="https://secure.mlstatic.com/sdk/javascript/v1/mercadopago.js"></script>
    <!-- Meu js -->
    <script src="js/myscript.js?<?= time(); ?>"></script>
    <!-- Plugin Mask -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.mask/1.14.16/jquery.mask.min.js"></script>
    
</body>

</html>